/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:
	
	Eric Meyer					:: http://ericmeyer.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com
	
-------------------------------------------------------------------------------*/

/* Let's default this puppy out
-------------------------------------------------------------------------------*/


html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}									

article, aside, figure, footer, header, hgroup, nav, section {display: block;}

/* Responsive images and other embedded objects
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
   If this default setting for images is causing issues, you might want to replace it with a .responsive class instead. */
img,
object,
embed {max-width: 100%;}

/* force a vertical scrollbar to prevent a jumpy page */
html {overflow-y: scroll;}

/* we use a lot of ULs that aren't bulleted. 
	don't forget to restore the bullets within content. */
ul {list-style: none;}

blockquote, q {quotes: none;}

blockquote:before, 
blockquote:after, 
q:before, 
q:after {content: ''; content: none;}

a {margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent;}

del {text-decoration: line-through;}

abbr[title], dfn[title] {border-bottom: 1px dotted #000; cursor: help;}

/* tables still need cellspacing="0" in the markup */
table {border-collapse: collapse; border-spacing: 0;}
th {font-weight: bold; vertical-align: bottom;}
td {font-weight: normal; vertical-align: top;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

input, select {vertical-align: middle;}

pre {
	white-space: pre; /* CSS2 */
	white-space: pre-wrap; /* CSS 2.1 */
	white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
	word-wrap: break-word; /* IE */
}

input[type="radio"] {vertical-align: text-bottom;}
input[type="checkbox"] {vertical-align: bottom; *vertical-align: baseline;}
.ie6 input {vertical-align: text-bottom;}

select, input, textarea {font: 99% sans-serif;}

table {font-size: inherit; font: 100%;}
 
/* Accessible focus treatment
	people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {outline: none;}

small {font-size: 85%;}

strong, th {font-weight: bold;}

td, td img {vertical-align: top;} 

/* Make sure sup and sub don't screw with your line-heights
	gist.github.com/413930 */
sub, sup {font-size: 75%; line-height: 0; position: relative;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* standardize any monospaced elements */
pre, code, kbd, samp {font-family: monospace, sans-serif;}

/* hand cursor on clickable elements */
.clickable,
label, 
input[type=button], 
input[type=submit], 
button {cursor: pointer;}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {margin: 0;}

/* make buttons play nice in IE */
button {width: auto; overflow: visible;}
 
/* scale images in IE7 more attractively */
.ie7 img {-ms-interpolation-mode: bicubic;}

/* prevent BG image flicker upon hover */
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}

/* let's clear some floats */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }  
.clearfix:after { clear: both; }  
.clearfix { zoom: 1; }  



/* Ok, this is where the fun starts.
-------------------------------------------------------------------------------*/

/* new Linux- and Windows-friendly sans-serif font stack: http://mky.be/fontstack */
body {font: 13px Helmet, Freesans, sans-serif;}

/* using local fonts? make sure to read up on Paul Irish's 
	Bulletproof @font-face syntax: http://mky.be/font-face/bulletproof/ */

/* we like off-black for text */
body, select, input, textarea {color: #333;}

a {color: #03f;}
a:hover {color: #69f;}

/* Custom text-selection colors (remove any text shadows: twitter.com/miketaylr/status/12228805301) */
::-moz-selection{background: #fcd700; color: #fff; text-shadow: none;}
::selection {background: #fcd700; color: #fff; text-shadow: none;} 

/*	j.mp/webkit-tap-highlight-color */
a:link {-webkit-tap-highlight-color: #fcd700;} 

ins {background-color: #fcd700; color: #000; text-decoration: none;}
mark {background-color: #fcd700; color: #000; font-style: italic; font-weight: bold;}





/* Print styles!
-------------------------------------------------------------------------------*/
@media print {



}


/* Media queries!
-------------------------------------------------------------------------------*/

/* Consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
	
		
}

@media all and (orientation: portrait) {
	
}

@media all and (orientation: landscape) {
	
}

/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/


/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */



/* #Base 960 Grid
================================================== */


    .container                                  { position: relative; width: 960px; margin: 0 auto; padding: 0; }
    .container .column,
    .container .columns                         { float: left; display: inline; margin-left: 10px; margin-right: 10px; }
    .row                                        { margin-bottom: 20px; }

    /* Nested Column Classes */
    .column.alpha, .columns.alpha               { margin-left: 0; }
    .column.omega, .columns.omega               { margin-right: 0; }

    /* Base Grid */
    .container .one.column,
    .container .one.columns                     { width: 40px;  }
    .container .two.columns                     { width: 100px; }
    .container .three.columns                   { width: 160px; }
    .container .four.columns                    { width: 220px; }
    .container .five.columns                    { width: 280px; }
    .container .six.columns                     { width: 340px; }
    .container .seven.columns                   { width: 400px; }
    .container .eight.columns                   { width: 460px; }
    .container .nine.columns                    { width: 520px; }
    .container .ten.columns                     { width: 580px; }
    .container .eleven.columns                  { width: 640px; }
    .container .twelve.columns                  { width: 700px; }
    .container .thirteen.columns                { width: 760px; }
    .container .fourteen.columns                { width: 820px; }
    .container .fifteen.columns                 { width: 880px; }
    .container .sixteen.columns                 { width: 940px; }

    .container .one-third.column                { width: 300px; }
    .container .two-thirds.column               { width: 620px; }

    /* Offsets */
    .container .offset-by-one                   { padding-left: 60px;  }
    .container .offset-by-two                   { padding-left: 120px; }
    .container .offset-by-three                 { padding-left: 180px; }
    .container .offset-by-four                  { padding-left: 240px; }
    .container .offset-by-five                  { padding-left: 300px; }
    .container .offset-by-six                   { padding-left: 360px; }
    .container .offset-by-seven                 { padding-left: 420px; }
    .container .offset-by-eight                 { padding-left: 480px; }
    .container .offset-by-nine                  { padding-left: 540px; }
    .container .offset-by-ten                   { padding-left: 600px; }
    .container .offset-by-eleven                { padding-left: 660px; }
    .container .offset-by-twelve                { padding-left: 720px; }
    .container .offset-by-thirteen              { padding-left: 780px; }
    .container .offset-by-fourteen              { padding-left: 840px; }
    .container .offset-by-fifteen               { padding-left: 900px; }



/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        .container                                  { width: 768px; }
        .container .column,
        .container .columns                         { margin-left: 10px; margin-right: 10px;  }
        .column.alpha, .columns.alpha               { margin-left: 0; margin-right: 10px; }
        .column.omega, .columns.omega               { margin-right: 0; margin-left: 10px; }
        .alpha.omega                                { margin-left: 0; margin-right: 0; }

        .container .one.column,
        .container .one.columns                     { width: 28px; }
        .container .two.columns                     { width: 76px; }
        .container .three.columns                   { width: 124px; }
        .container .four.columns                    { width: 172px; }
        .container .five.columns                    { width: 220px; }
        .container .six.columns                     { width: 268px; }
        .container .seven.columns                   { width: 316px; }
        .container .eight.columns                   { width: 364px; }
        .container .nine.columns                    { width: 412px; }
        .container .ten.columns                     { width: 460px; }
        .container .eleven.columns                  { width: 508px; }
        .container .twelve.columns                  { width: 556px; }
        .container .thirteen.columns                { width: 604px; }
        .container .fourteen.columns                { width: 652px; }
        .container .fifteen.columns                 { width: 700px; }
        .container .sixteen.columns                 { width: 748px; }

        .container .one-third.column                { width: 236px; }
        .container .two-thirds.column               { width: 492px; }

        /* Offsets */
        .container .offset-by-one                   { padding-left: 48px; }
        .container .offset-by-two                   { padding-left: 96px; }
        .container .offset-by-three                 { padding-left: 144px; }
        .container .offset-by-four                  { padding-left: 192px; }
        .container .offset-by-five                  { padding-left: 240px; }
        .container .offset-by-six                   { padding-left: 288px; }
        .container .offset-by-seven                 { padding-left: 336px; }
        .container .offset-by-eight                 { padding-left: 348px; }
        .container .offset-by-nine                  { padding-left: 432px; }
        .container .offset-by-ten                   { padding-left: 480px; }
        .container .offset-by-eleven                { padding-left: 528px; }
        .container .offset-by-twelve                { padding-left: 576px; }
        .container .offset-by-thirteen              { padding-left: 624px; }
        .container .offset-by-fourteen              { padding-left: 672px; }
        .container .offset-by-fifteen               { padding-left: 720px; }
    }


/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 767px) {
        .container { width: 300px; }
        .container .columns,
        .container .column { margin: 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column  { width: 300px; }

        /* Offsets */
        .container .offset-by-one,
        .container .offset-by-two,
        .container .offset-by-three,
        .container .offset-by-four,
        .container .offset-by-five,
        .container .offset-by-six,
        .container .offset-by-seven,
        .container .offset-by-eight,
        .container .offset-by-nine,
        .container .offset-by-ten,
        .container .offset-by-eleven,
        .container .offset-by-twelve,
        .container .offset-by-thirteen,
        .container .offset-by-fourteen,
        .container .offset-by-fifteen { padding-left: 0; }

    }


/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 480px) and (max-width: 767px) {
        .container { width: 420px; }
        .container .columns,
        .container .column { margin: 0; }

        .container .one.column,
        .container .one.columns,
        .container .two.columns,
        .container .three.columns,
        .container .four.columns,
        .container .five.columns,
        .container .six.columns,
        .container .seven.columns,
        .container .eight.columns,
        .container .nine.columns,
        .container .ten.columns,
        .container .eleven.columns,
        .container .twelve.columns,
        .container .thirteen.columns,
        .container .fourteen.columns,
        .container .fifteen.columns,
        .container .sixteen.columns,
        .container .one-third.column,
        .container .two-thirds.column { width: 420px; }
    }


/* #Clearing
================================================== */

    /* Self Clearing Goodness */
    .container:after { content: "\0020"; display: block; height: 0; clear: both; visibility: hidden; }

    /* Use clearfix class on parent to clear nested columns,
    or wrap each row of columns in a <div class="row"> */
    .clearfix:before,
    .clearfix:after,
    .row:before,
    .row:after {
      content: '\0020';
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0; }
    .row:after,
    .clearfix:after {
      clear: both; }
    .row,
    .clearfix {
      zoom: 1; }

    /* You can also use a <br class="clear" /> to clear columns */
    .clear {
      clear: both;
      display: block;
      overflow: hidden;
      visibility: hidden;
      width: 0;
      height: 0;
    }
.input_tiny {
  width: 50px;
}

.input_small {
  width: 100px;
}

.input_medium {
  width: 150px;
}

.input_large {
  width: 200px;
}

.input_xlarge {
  width: 250px;
}

.input_xxlarge {
  width: 300px;
}

.input_full {
  width: 100%;
}

.input_full_wrap {
  display: block;
  padding-right: 8px;
}

input[type="search"]::-webkit-search-decoration {
  display: none;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  -webkit-box-shadow: #0066ff 0 0 7px 0;
  -moz-box-shadow: #0066ff 0 0 7px 0;
  -o-box-shadow: #0066ff 0 0 7px 0;
  box-shadow: #0066ff 0 0 7px 0;
  z-index: 1;
}

input[type="file"]:focus, input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
button,
input[type="reset"],
input[type="submit"],
input[type="button"],
a.button {
  -webkit-appearance: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  -ms-background-clip: padding-box;
  -o-background-clip: padding-box;
  background-clip: padding-box;
  background: #dddddd url(/assets/jquery.formalize/button.png) repeat-x;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #dddddd));
  background-image: -webkit-linear-gradient(#ffffff, #dddddd);
  background-image: -moz-linear-gradient(#ffffff, #dddddd);
  background-image: -o-linear-gradient(#ffffff, #dddddd);
  background-image: -ms-linear-gradient(#ffffff, #dddddd);
  background-image: linear-gradient(#ffffff, #dddddd);
  border: 1px solid;
  border-color: #dddddd #bbbbbb #999999;
  cursor: pointer;
  color: #333333;
  font: bold 12px/1.3 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
  outline: 0;
  overflow: visible;
  margin: 0;
  padding: 3px 10px;
  text-shadow: white 0 1px 1px;
  vertical-align: top;
  width: auto;
  *padding-top: 2px;
  *padding-bottom: 0;
}
button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
input[type="button"]:hover,
a.button:hover {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(1px, #eeeeee), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
  background-image: -moz-linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
  background-image: -o-linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
  background-image: -ms-linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
  background-image: linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
}
button:active,
input[type="reset"]:active,
input[type="submit"]:active,
input[type="button"]:active,
a.button:active {
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(1px, #dddddd), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#ffffff, #dddddd 1px, #eeeeee);
  background-image: -moz-linear-gradient(#ffffff, #dddddd 1px, #eeeeee);
  background-image: -o-linear-gradient(#ffffff, #dddddd 1px, #eeeeee);
  background-image: -ms-linear-gradient(#ffffff, #dddddd 1px, #eeeeee);
  background-image: linear-gradient(#ffffff, #dddddd 1px, #eeeeee);
  -webkit-box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
  -moz-box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
  -o-box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
  box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
  border-color: #999999 #bbbbbb #dddddd;
}
a.button::-moz-focus-inner,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button, a.button {
  *padding-top: 1px;
  *padding-bottom: 1px;
}

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-clip: padding;
  -moz-background-clip: padding;
  -ms-background-clip: padding-box;
  -o-background-clip: padding-box;
  background-clip: padding-box;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  -webkit-appearance: none;
  background-color: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: black;
  outline: 0;
  margin: 0;
  padding: 2px 3px;
  text-align: left;
  font-size: 13px;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
  height: 1.8em;
  vertical-align: top;
  *padding-top: 2px;
  *padding-bottom: 1px;
  *height: auto;
}
textarea[disabled],
select[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
  background-color: #eeeeee;
}
a.button[disabled],
button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled] {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  color: #888888;
  cursor: default;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #888888;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #888888;
}

input.placeholder_text,
textarea.placeholder_text {
  color: #888888;
}

textarea,
select[size],
select[multiple] {
  height: auto;
}

select[size="0"],
select[size="1"] {
  height: 1.8em;
  *height: auto;
}

@media (-webkit-min-device-pixel-ratio: 0) {
  select[size],
  select[multiple],
  select[multiple][size] {
    background-image: none;
    padding-right: 3px;
  }

  select,
  select[size="0"],
  select[size="1"] {
    background-image: url(/assets/jquery.formalize/select_arrow.gif);
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 20px;
  }

  ::-webkit-validation-bubble-message {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, black));
    border: 1px solid;
    border-color: #747474 #5e5e5e #4f4f4f;
    color: white;
    font: 13px/17px "Lucida Grande", Arial, "Liberation Sans", FreeSans, sans-serif;
    overflow: hidden;
    padding: 15px 15px 17px;
    text-shadow: black 0 0 1px;
    height: 16px;
  }

  ::-webkit-validation-bubble-arrow,
  ::-webkit-validation-bubble-top-outer-arrow,
  ::-webkit-validation-bubble-top-inner-arrow {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #666666;
    border: 0;
  }
}
textarea {
  min-height: 40px;
  overflow: auto;
  resize: vertical;
  width: 100%;
}

optgroup {
  color: black;
  font-style: normal;
  font-weight: normal;
  font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
}

input:invalid,
button:invalid,
select:invalid,
textarea:invalid {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
input::-moz-focus-inner,
button::-moz-focus-inner,
a.button::-moz-focus-inner,
select::-moz-focus-inner,
textarea::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.ie6_button,
* html button {
  background: #dddddd url(/assets/jquery.formalize/button.png) repeat-x;
  border: 1px solid;
  border-color: #dddddd #bbbbbb #999999;
  cursor: pointer;
  color: #333333;
  font: bold 12px/1.2 Arial, sans-serif;
  padding: 2px 10px 0px;
  overflow: visible;
  width: auto;
}

* html button {
  padding-top: 1px;
  padding-bottom: 1px;
}

.ie6_input,
* html textarea,
* html select {
  background: white;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  color: black;
  padding: 2px 3px 1px;
  font-size: 13px;
  font-family: Arial, sans-serif;
  vertical-align: top;
}

* html select {
  margin-top: 1px;
}

.placeholder_text,
.ie6_input_disabled,
.ie6_button_disabled {
  color: #888888;
}

.ie6_input_disabled {
  background: #eeeeee;
}
@import url(//fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,700italic|&subset=latin,cyrillic,greek,greek-ext,latin-ext,cyrillic-ext);
/*--------------------------------------*/
/* Colors
/*--------------------------------------*/
/* Spree green    */
/* Error red      */
/*--------------------------------------*/
/* Fonts import from remote
/*--------------------------------------*/
/*--------------------------------------*/
/* Font families
/*--------------------------------------*/
/*--------------------------------------
  | Font sizes
  |--------------------------------------
  |- Navigation                         
  |                                    */
/*|------------------------------------
  |- Product Listing                         
  |                                  */
/*|------------------------------------
  |- Product Details
  |                                  */
/*|------------------------------------
  |- Basic
  |                                  */
/*--------------------------------------*/
/* Basic styles 
/*--------------------------------------*/
/* line 6, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
body {
  font-family: "Ubuntu", sans-serif;
  color: #404042;
  line-height: 18px;
  font-size: 12px;
  background-color: white;
}

/* Line style */
/* line 15, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
hr {
  border-color: #d9d9db;
}

/* Custom text-selection colors (remove any text shadows: twitter.com/miketaylr/status/12228805301) */
/* line 20, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
::-moz-selection {
  background: #00adee;
  color: white;
  text-shadow: none;
}

/* line 21, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
::selection {
  background: #00adee;
  color: white;
  text-shadow: none;
}

/*  j.mp/webkit-tap-highlight-color */
/* line 24, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
a:link {
  -webkit-tap-highlight-color: #00adee;
}

/* line 26, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
ins {
  background-color: #00adee;
  color: white;
  text-decoration: none;
}

/* line 27, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
mark {
  background-color: #00adee;
  color: white;
  font-style: italic;
  font-weight: bold;
}

/*--------------------------------------*/
/* Links
/*--------------------------------------*/
/* line 32, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
a {
  text-decoration: none;
  color: #00adee;
}
/* line 36, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
a:hover {
  color: #0088bb !important;
}

/*--------------------------------------*/
/* Lists
/*--------------------------------------*/
/* line 46, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
ul.inline li, ol.inline li {
  display: inline-block;
}

/* line 53, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
dl dt, dl dd {
  display: inline-block;
  width: 50%;
  padding: 5px;
}
/* line 58, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
dl dt.odd, dl dd.odd {
  background-color: #d9d9db;
}
/* line 62, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
dl dt {
  font-weight: bold;
  text-transform: uppercase;
}
/* line 66, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
dl dd {
  margin-left: 1px;
}

/*--------------------------------------*/
/* Headers
/*--------------------------------------*/
/* line 74, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
h1 {
  font-size: 24px;
  line-height: 34px;
}

/* line 75, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
h2 {
  font-size: 22px;
  line-height: 32px;
}

/* line 76, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
h3 {
  font-size: 20px;
  line-height: 30px;
}

/* line 77, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
h4 {
  font-size: 18px;
  line-height: 28px;
}

/* line 78, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
h5 {
  font-size: 14px;
  line-height: 24px;
}

/* line 79, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
h6 {
  font-size: 12px;
  line-height: 22px;
}

/* line 81, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  color: #404042;
}

/*--------------------------------------*/
/* Forms
/*--------------------------------------*/
/* line 94, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
textarea, input[type="date"],
input[type="datetime"], input[type="datetime-local"],
input[type="email"], input[type="month"], input[type="number"],
input[type="password"], input[type="search"], input[type="tel"],
input[type="text"], input[type="time"], input[type="url"],
input[type="week"] {
  border: 1px solid #d9d9db;
  padding: 2px 5px;
  font-family: "Ubuntu", sans-serif;
  font-size: 13px;
}
/* line 100, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
textarea:active, textarea:focus, input[type="date"]:active, input[type="date"]:focus,
input[type="datetime"]:active,
input[type="datetime"]:focus, input[type="datetime-local"]:active, input[type="datetime-local"]:focus,
input[type="email"]:active,
input[type="email"]:focus, input[type="month"]:active, input[type="month"]:focus, input[type="number"]:active, input[type="number"]:focus,
input[type="password"]:active,
input[type="password"]:focus, input[type="search"]:active, input[type="search"]:focus, input[type="tel"]:active, input[type="tel"]:focus,
input[type="text"]:active,
input[type="text"]:focus,
select:active,
select:focus, input[type="time"]:active, input[type="time"]:focus, input[type="url"]:active, input[type="url"]:focus,
input[type="week"]:active,
input[type="week"]:focus {
  border-color: #00adee;
  outline: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}
/* line 109, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
textarea.error, input[type="date"].error,
input[type="datetime"].error, input[type="datetime-local"].error,
input[type="email"].error, input[type="month"].error, input[type="number"].error,
input[type="password"].error, input[type="search"].error, input[type="tel"].error,
input[type="text"].error, input[type="time"].error, input[type="url"].error,
input[type="week"].error {
  border-color: #e45353;
}

/* line 114, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
select {
  border: 1px solid #d9d9db;
  font-family: "Ubuntu", sans-serif;
  background-image: url("select_arrow.gif");
  background-repeat: no-repeat;
  background-position: right center;
}

/* line 126, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
label.error {
  display: block;
  font-size: 11px;
  color: #e45353;
  margin-top: 3px;
}

/* line 133, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
span.required {
  color: #e45353;
  font-weight: bold;
  font-size: 1.2em;
}

/* line 140, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
input[type="submit"], input[type="button"],
input[type="reset"], button, a.button {
  background-color: #00adee;
  background-image: none;
  text-shadow: none;
  color: white;
  font-weight: bold;
  font-size: 12px;
  font-family: "Ubuntu", sans-serif;
  border: 1px solid rgba(0, 138, 189, 0.75);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
  -khtml-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
  -o-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
  -webkit-border-radius: 0px;
  -khtml-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  vertical-align: text-top;
}
/* line 162, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
input[type="submit"].large, input[type="button"].large,
input[type="reset"].large, button.large, a.button.large {
  padding: 7px 10px;
  font-size: 14px;
}
/* line 167, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
input[type="submit"].gray, input[type="button"].gray,
input[type="reset"].gray, button.gray, a.button.gray {
  background-color: #727276;
  border-color: #59595c;
}
/* line 172, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
input[type="submit"]:hover, input[type="button"]:hover,
input[type="reset"]:hover, button:hover, a.button:hover {
  background-image: none;
  background-color: #404042;
  border-color: #404042;
  color: white !important;
}

/* line 181, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
.ie8 a.button {
  line-height: 16px;
}

/* line 188, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
input[type="checkbox"], input[type="button"],
input[type="submit"], input[type="reset"],
button, label {
  vertical-align: middle;
}

/* line 192, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
a.button {
  display: inline-block;
  line-height: 15px;
  margin-top: -2px;
  vertical-align: bottom;
}

/*--------------------------------------*/
/* Footer
/*--------------------------------------*/
/* line 202, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
footer#footer {
  padding: 10px 0;
  border-top: 1px solid #d9d9db;
}

/*--------------------------------------*/
/* Paragraphs
/*--------------------------------------*/
/* line 210, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
p {
  padding: 10px 0;
}

/*--------------------------------------*/
/* Tables
/*--------------------------------------*/
/* line 218, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
table thead {
  background-color: #d9d9db;
  text-transform: uppercase;
}
/* line 223, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
table thead tr th {
  padding: 5px 10px;
}
/* line 230, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
table tbody tr, table tfoot tr {
  border-bottom: 1px solid #d9d9db;
}
/* line 233, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
table tbody tr td, table tfoot tr td {
  vertical-align: middle;
  padding: 5px 10px;
}
/* line 238, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
table tbody tr.alt, table tbody tr.odd, table tfoot tr.alt, table tfoot tr.odd {
  background-color: #eee;
}

/*--------------------------------------*/
/* Navigation
/*--------------------------------------*/
/* line 248, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
nav#top-nav-bar {
  text-align: right;
  margin-top: 20px;
}
/* line 253, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
nav#top-nav-bar ul li {
  margin-bottom: 5px;
  padding-left: 10px;
}
/* line 257, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
nav#top-nav-bar ul li a {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

/* line 266, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
nav #main-nav-bar {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
  padding-bottom: 6px;
}
/* line 275, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
nav #main-nav-bar li a {
  font-size: 16px;
  padding: 5px;
}
/* line 281, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
nav #main-nav-bar li:first-child a {
  padding-left: 0;
}
/* line 286, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
nav #main-nav-bar li#link-to-cart {
  float: right;
  padding-left: 24px;
  background: url("cart.png") no-repeat left center;
}
/* line 291, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
nav #main-nav-bar li#link-to-cart:hover {
  border-color: #E77816 ;
}
/* line 294, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
nav #main-nav-bar li#link-to-cart:hover .amount {
  border-color: #E77816 ;
}
/* line 299, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
nav #main-nav-bar li#link-to-cart a {
  font-weight: normal;
  font-size: 16px;
  color: #00adee;
}
/* line 304, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
nav #main-nav-bar li#link-to-cart a .amount {
  font-size: 16px;
  font-weight: bold;
  border-left: 1px solid #d9d9db;
  padding-left: 5px;
  padding-bottom: 5px;
}

/* line 317, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
nav#taxonomies .taxonomy-root {
  text-transform: uppercase;
  border-bottom: 1px solid #d9d9db;
  margin-bottom: 5px;
  font-size: 14px;
}
/* line 324, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
nav#taxonomies .taxons-list {
  padding-left: 20px;
  margin-bottom: 20px;
  list-style: disc outside;
}
/* line 330, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
nav#taxonomies .taxons-list li a {
  font-size: 12px;
}

/* line 337, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
#breadcrumbs {
  border-bottom: 1px solid #d9d9db;
  padding: 3px 0;
  margin-bottom: 15px;
}
/* line 343, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
#breadcrumbs li a {
  color: #00adee;
}
/* line 346, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
#breadcrumbs li span {
  text-transform: uppercase;
  font-weight: bold;
}

/*--------------------------------------*/
/* Flash notices & errors
/*--------------------------------------*/
/* line 356, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
.flash, .errorExplanation {
  padding: 10px;
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
}
/* line 362, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
.flash.notice, .notice.errorExplanation {
  background-color: #00adee;
}
/* line 365, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
.flash.success, .success.errorExplanation {
  background-color: #8dba53;
}
/* line 368, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
.flash.error, .errorExplanation {
  background-color: #e45353;
}

/* line 377, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
.errorExplanation p {
  font-weight: normal;
}
/* line 381, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
.errorExplanation ul {
  list-style: disc outside;
  margin-left: 30px;
}
/* line 385, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
.errorExplanation ul li {
  font-weight: normal;
}

/*--------------------------------------*/
/* Main search bar
/*--------------------------------------*/
/* line 394, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
#search-bar {
  display: block;
}

/*--------------------------------------*/
/* Products
/*--------------------------------------*/
/* line 402, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
[data-hook="product_show"] h6 {
  font-size: 14px;
}

/* line 407, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
.product-section-title {
  text-transform: uppercase;
  margin-top: 15px;
}

/* line 412, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
.add-to-cart {
  margin-top: 15px;
}
/* line 415, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
.add-to-cart input[type="number"] {
  margin-right: 3px;
  width: 60px;
  vertical-align: middle;
  padding: 5px;
  height: 35px;
}

/* line 424, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
span.price, #checkout-summary table tr[data-hook="item_total"] td:last-child strong, #checkout-summary table #summary-order-total, #order_details td.price span, #order_details td.total span, #order_summary td.price span, #order_summary td.total span, table#cart-detail tbody#line_items tr td[data-hook="cart_item_price"], table#cart-detail tbody#line_items tr td[data-hook="cart_item_total"], div[data-hook="inside_cart_form"] #subtotal span.order-total {
  font-weight: bold;
  color: #00adee;
}
/* line 428, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
span.price.selling, #checkout-summary table tr[data-hook="item_total"] td:last-child strong.selling, #checkout-summary table .selling#summary-order-total, #order_details td.price span.selling, #order_details td.total span.selling, #order_summary td.price span.selling, #order_summary td.total span.selling, table#cart-detail tbody#line_items tr td[data-hook="cart_item_price"], table#cart-detail tbody#line_items tr td[data-hook="cart_item_total"], div[data-hook="inside_cart_form"] #subtotal span.selling.order-total {
  font-size: 16px;
}
/* line 431, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
span.price.diff, #checkout-summary table tr[data-hook="item_total"] td:last-child strong.diff, #checkout-summary table .diff#summary-order-total, #order_details td.price span.diff, #order_details td.total span.diff, #order_summary td.price span.diff, #order_summary td.total span.diff, table#cart-detail tbody#line_items tr td.diff[data-hook="cart_item_price"], table#cart-detail tbody#line_items tr td.diff[data-hook="cart_item_total"], div[data-hook="inside_cart_form"] #subtotal span.diff.order-total {
  font-weight: bold;
}

/* line 436, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
.taxon-title {
  font-size: 20px;
}

/* line 440, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
.search-results-title {
  font-size: 14px;
}

/* line 445, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
ul#products:after {
  content: " ";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* line 454, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
ul#products li {
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}
/* line 459, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
ul#products li a {
  display: block;
}
/* line 462, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
ul#products li a.info {
  height: 35px;
  margin-top: 5px;
  font-size: 12px;
  color: #bbbbbb;
  border-bottom: 1px solid #d9d9db;
  overflow: hidden;
}
/* line 472, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
ul#products li .product-image {
  border: 1px solid #d9d9db;
  padding: 5px;
  min-height: 110px;
  background-color: white;
}
/* line 478, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
ul#products li .product-image:hover {
  border-color: #00adee;
}
/* line 484, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
ul#products li .price {
  color: #00adee;
  font-size: 16px;
  padding-top: 5px;
  display: block;
}

/* line 493, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
.subtaxon-title {
  text-transform: uppercase;
}
/* line 496, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
.subtaxon-title a {
  color: #00adee;
}

/* line 501, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
.search-results-title {
  text-transform: uppercase;
  border-bottom: 1px solid #d9d9db;
  margin-bottom: 10px;
}

/* line 508, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
#sidebar_products_search .navigation {
  margin-bottom: 15px;
}
/* line 512, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
#sidebar_products_search .filter-title {
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: 1px solid #ededed;
  margin-bottom: 5px;
  color: #00adee;
  font-size: 14px;
  line-height: 24px;
}

/* line 524, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
.taxon {
  overflow: hidden;
}

/* line 529, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
#product-images #main-image {
  text-align: center;
  border: 1px solid #d9d9db;
  background-color: white;
}
/* line 534, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
#product-images #main-image img {
  min-height: 240px;
}
/* line 539, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
#product-images #product-thumbnails li {
  background-color: white;
}

/* line 546, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
#product-description .product-title {
  border-bottom: 1px solid #d9d9db;
  margin-bottom: 15px;
  color: #404042;
  font-size: 24px;
}
/* line 553, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
#product-description [data-hook="product-description"] {
  font-size: 12px;
  color: #404042;
}

/* line 559, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
#product-thumbnails {
  margin-top: 10px;
}
/* line 562, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
#product-thumbnails li {
  margin-right: 6px;
  border: 1px solid #d9d9db;
}
/* line 566, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
#product-thumbnails li img {
  padding: 5px;
}
/* line 570, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
#product-thumbnails li:hover, #product-thumbnails li.selected {
  border-color: #00adee;
}

/* line 576, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
#product-properties {
  border: 1px solid #d9d9db;
  padding: 10px;
}

/* line 583, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
#product-variants ul li {
  padding: 5px;
}

/* line 590, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
#cart-form #inside-product-cart-form:after {
  content: " ";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/*--------------------------------------*/
/* Checkout
/*--------------------------------------*/
/* line 603, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
.progress-steps {
  list-style: decimal inside;
  overflow: auto;
}
/* line 607, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
.progress-steps li {
  float: left;
  margin-right: 20px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px 20px;
  color: #727276;
}
/* line 615, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
.progress-steps li.current-first, .progress-steps li.current {
  background-color: #00adee;
  color: white;
}
/* line 620, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
.progress-steps li.completed-first, .progress-steps li.completed {
  background-color: #d9d9db;
  color: white;
}
/* line 624, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
.progress-steps li.completed-first a, .progress-steps li.completed a {
  color: white;
}
/* line 628, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
.progress-steps li.completed-first:hover, .progress-steps li.completed:hover {
  background-color: #00adee;
  color: white;
}
/* line 632, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
.progress-steps li.completed-first:hover a, .progress-steps li.completed:hover a {
  color: white;
}
/* line 635, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
.progress-steps li.completed-first:hover a:hover, .progress-steps li.completed:hover a:hover {
  color: white !important;
}

/* line 644, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
#checkout-summary {
  text-align: center;
  border: 1px solid #d9d9db;
  margin-top: 23px;
  margin-left: 0;
}
/* line 650, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
#checkout-summary h3 {
  text-transform: uppercase;
  font-size: 14px;
  border-bottom: 1px solid #d9d9db;
}
/* line 656, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
#checkout-summary table {
  width: 100%;
}
/* line 667, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
#checkout-summary table tr[data-hook="order_total"] {
  border-bottom: none;
}
/* line 671, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
#checkout-summary table #summary-order-total {
  font-size: 14px;
}

/* line 679, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
#billing, #shipping, #shipping_method,
#payment, #order_details, #order_summary {
  margin-top: 10px;
  border: 1px solid #d9d9db;
  padding: 10px;
}
/* line 684, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
#billing legend, #shipping legend, #shipping_method legend,
#payment legend, #order_details legend, #order_summary legend {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  color: #00adee;
  padding: 5px;
  margin-left: 15px;
}

/* line 694, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
#order_details, #order_summary {
  padding: 0;
}
/* line 697, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
#order_details div:last-child, #order_summary div:last-child {
  margin-left: -1px;
}
/* line 703, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
#order_details .payment-info .cc-type img, #order_summary .payment-info .cc-type img {
  vertical-align: middle;
}
/* line 715, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
#order_details table tfoot, #order_summary table tfoot {
  text-align: right;
  color: #727276;
}
/* line 719, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
#order_details table tfoot tr, #order_summary table tfoot tr {
  border: none;
}
/* line 723, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
#order_details table tfoot#order-total, #order_summary table tfoot#order-total {
  text-transform: uppercase;
  font-size: 16px;
  color: #404042;
}
/* line 728, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
#order_details table tfoot#order-total tr, #order_summary table tfoot#order-total tr {
  border-top: 1px solid #d9d9db;
}
/* line 731, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
#order_details table tfoot#order-total tr td, #order_summary table tfoot#order-total tr td {
  padding: 10px;
}
/* line 739, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
#order_details .steps-data div.columns, #order_summary .steps-data div.columns {
  padding: 5px;
  margin: 0;
}
/* line 743, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
#order_details .steps-data div.columns:first-child, #order_summary .steps-data div.columns:first-child {
  margin-left: 10px;
}
/* line 748, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
#order_details .steps-data h6, #order_summary .steps-data h6 {
  border-bottom: 1px solid #d9d9db;
  margin-bottom: 5px;
}

/* line 757, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
#shipping_method p label {
  float: left;
  font-weight: bold;
  font-size: 14px;
  margin-right: 40px;
  padding: 5px;
}

/* line 767, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
p[data-hook="use_billing"] {
  float: right;
  margin-top: -18px;
  background-color: white;
  padding: 5px;
}

/*--------------------------------------*/
/* Cart
/*--------------------------------------*/
/* line 777, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
table#cart-detail {
  width: 100%;
}
/* line 787, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
table#cart-detail tbody#line_items tr td[data-hook="cart_item_quantity"] .line_item_quantity {
  width: 40px;
}
/* line 792, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
table#cart-detail tbody#line_items tr td[data-hook="cart_item_delete"] .delete {
  display: block;
  width: 20px;
}

/* line 802, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
div[data-hook="inside_cart_form"] .links {
  margin-top: 15px;
  text-align: right;
}
/* line 807, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
div[data-hook="inside_cart_form"] #subtotal {
  text-align: right;
  text-transform: uppercase;
  margin-top: 15px;
}

/* line 818, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
#empty-cart {
  margin-top: -75px !important;
  float: left !important;
}

/*--------------------------------------*/
/* Account
/*--------------------------------------*/
/* line 827, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
#existing-customer h6, #new-customer h6, #forgot-password h6 {
  text-transform: uppercase;
}

/* line 833, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
#registration h6 {
  text-transform: uppercase;
}
/* line 837, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
#registration #existing-customer {
  width: auto;
  text-align: left;
}

/* line 843, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
#user-info {
  margin-bottom: 15px;
  border: 1px solid #d9d9db;
  padding: 10px;
}

/*--------------------------------------*/
/* Order
/*--------------------------------------*/
/* line 852, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
#order_summary {
  margin-top: 0;
}

/* line 856, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
#order p[data-hook="links"] {
  margin-left: 10px;
  overflow: auto;
}

/* line 865, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
table.order-summary tbody tr td {
  width: 10%;
  text-align: center;
}
/* line 870, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
table.order-summary tbody tr td:first-child a {
  text-transform: uppercase;
  font-weight: bold;
  color: #00adee;
}

/* #Media Queries
================================================== */
/* Smaller than standard 960 (devices and browsers) */
/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
  /* line 891, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
  .container {
    padding-left: 10px;
    width: 758px;
  }

  /* line 895, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
  footer#footer {
    width: 748px;
  }

  /* line 898, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
  p[data-hook="use_billing"] {
    margin-top: -15px;
  }
}
/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
  /* line 906, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
  html {
    -webkit-text-size-adjust: none;
  }

  /* line 911, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
  #order_details .steps-data div.columns,
  #order_summary .steps-data div.columns {
    padding: 0;
    margin: 0;
  }
  /* line 915, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
  #order_details .steps-data div.columns:first-child,
  #order_summary .steps-data div.columns:first-child {
    margin: 0;
  }

  /* line 920, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
  nav#taxonomies {
    text-align: center;
  }
  /* line 923, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
  nav#taxonomies ul {
    padding-left: 0 !important;
    list-style: none !important;
  }

  /* line 929, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
  ul#nav-bar {
    text-align: center;
  }

  /* line 933, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
  .steps-data div.columns {
    margin-bottom: 15px;
    text-align: center;
  }

  /* line 939, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
  #order_details table[data-hook="order_details"], #order table[data-hook="order_details"] {
    width: 100%;
  }

  /* line 945, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
  #update-cart #subtotal, #update-cart .links {
    width: 50%;
    float: left;
    text-align: left;
  }
  /* line 950, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
  #update-cart #subtotal {
    text-align: right;
  }
}
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* line 959, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
  footer#footer {
    width: auto !important;
  }

  /* line 963, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
  input, select {
    vertical-align: baseline !important;
  }

  /* line 967, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
  figure#logo {
    text-align: center;
  }

  /* line 971, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
  #link-to-login {
    display: block;
    text-align: center;
  }

  /* line 976, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
  #search-bar {
    display: block;
    text-align: center;
  }
  /* line 980, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
  #search-bar select {
    margin-bottom: 10px;
  }

  /* line 985, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
  ul#products {
    margin-left: 0;
    margin-right: -20px;
  }
  /* line 989, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
  ul#products li {
    width: 133px;
    margin-right: 10px;
  }

  /* line 998, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
  table#cart-detail tbody tr td[data-hook="cart_item_description"], table#cart-detail tbody tr td[data-hook="order_item_description"], table[data-hook="order_details"] tbody tr td[data-hook="cart_item_description"], table[data-hook="order_details"] tbody tr td[data-hook="order_item_description"] {
    font-size: 11px;
    line-height: 15px;
    width: 100px;
  }
  /* line 1003, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
  table#cart-detail tbody tr td[data-hook="cart_item_description"] h4, table#cart-detail tbody tr td[data-hook="order_item_description"] h4, table[data-hook="order_details"] tbody tr td[data-hook="cart_item_description"] h4, table[data-hook="order_details"] tbody tr td[data-hook="order_item_description"] h4 {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 10px;
  }
  /* line 1010, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
  table#cart-detail tbody tr td[data-hook="cart_item_price"], table#cart-detail tbody tr td[data-hook="cart_item_total"],
  table#cart-detail tbody tr td[data-hook="order_item_price"], table#cart-detail tbody tr td[data-hook="order_item_total"], table[data-hook="order_details"] tbody tr td[data-hook="cart_item_price"], table[data-hook="order_details"] tbody tr td[data-hook="cart_item_total"],
  table[data-hook="order_details"] tbody tr td[data-hook="order_item_price"], table[data-hook="order_details"] tbody tr td[data-hook="order_item_total"] {
    font-size: 12px !important;
  }
  /* line 1014, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
  table#cart-detail tbody tr td[data-hook="cart_item_image"] img, table#cart-detail tbody tr td[data-hook="order_item_image"] img, table[data-hook="order_details"] tbody tr td[data-hook="cart_item_image"] img, table[data-hook="order_details"] tbody tr td[data-hook="order_item_image"] img {
    width: 70px;
  }
}
@media only screen and (max-width: 767px) {
  /* line 1025, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
  #empty-cart {
    clear: both;
    margin-top: 0 !important;
    float: none !important;
  }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
  /* line 1033, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
  .container .offset-by-nine.coupon-code-field {
    padding-left: 380px;
  }
}
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  /* line 1042, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
  .progress-steps li {
    padding: 0;
    margin: 0;
    width: 50%;
  }
  /* line 1047, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
  .progress-steps li span {
    display: block;
    padding: 10px 20px;
  }

  /* line 1053, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
  #shipping_method p label {
    float: none;
    display: block;
    text-align: center;
    margin-right: 0;
  }

  /* line 1060, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
  p[data-hook="use_billing"] {
    float: none;
    margin-top: 0;
  }

  /* line 1068, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
  table#cart-detail tbody tr td[data-hook="cart_item_description"], table#cart-detail tbody tr td[data-hook="order_item_description"], table[data-hook="order_details"] tbody tr td[data-hook="cart_item_description"], table[data-hook="order_details"] tbody tr td[data-hook="order_item_description"] {
    padding: 0 !important;
    text-indent: -9999px;
  }
  /* line 1072, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
  table#cart-detail tbody tr td[data-hook="cart_item_description"] h4, table#cart-detail tbody tr td[data-hook="order_item_description"] h4, table[data-hook="order_details"] tbody tr td[data-hook="cart_item_description"] h4, table[data-hook="order_details"] tbody tr td[data-hook="order_item_description"] h4 {
    display: none;
  }
  /* line 1077, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
  table#cart-detail tbody tr td[data-hook="cart_item_image"] img, table#cart-detail tbody tr td[data-hook="order_item_image"] img, table[data-hook="order_details"] tbody tr td[data-hook="cart_item_image"] img, table[data-hook="order_details"] tbody tr td[data-hook="order_item_image"] img {
    width: 70px;
  }
  /* line 1081, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
  table#cart-detail tbody tr td[data-hook="cart_item_price"], table#cart-detail tbody tr td[data-hook="cart_item_total"], table[data-hook="order_details"] tbody tr td[data-hook="cart_item_price"], table[data-hook="order_details"] tbody tr td[data-hook="cart_item_total"] {
    font-size: 14px !important;
  }

  /* line 1088, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
  table.order-summary {
    display: block;
    position: relative;
    width: 100%;
  }
  /* line 1091, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
  table.order-summary thead {
    display: block;
    float: left;
  }
  /* line 1092, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
  table.order-summary tbody {
    display: block;
    width: auto;
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
  }
  /* line 1093, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
  table.order-summary thead tr {
    display: block;
  }
  /* line 1094, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
  table.order-summary th {
    display: block;
  }
  /* line 1095, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
  table.order-summary tbody tr {
    display: inline-block;
    vertical-align: top;
  }
  /* line 1096, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
  table.order-summary td {
    display: block;
    min-height: 1.25em;
  }

  /* line 1100, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
  figure#logo {
    text-align: center;
  }

  /* line 1104, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
  #link-to-login {
    display: block;
    text-align: center;
  }

  /* line 1109, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
  #search-bar {
    display: block;
    text-align: center;
  }
  /* line 1113, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
  #search-bar select {
    margin-bottom: 10px;
  }

  /* line 1118, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
  aside#sidebar {
    text-align: center;
  }
  /* line 1121, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
  aside#sidebar ul {
    padding-left: 0 !important;
  }
  /* line 1124, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
  aside#sidebar ul li {
    list-style-type: none;
  }

  /* line 1132, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
  ul#products li {
    width: 142px;
    margin-right: 15px;
  }
  /* line 1136, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
  ul#products li.secondary, ul#products li.omega {
    margin-right: 0;
  }

  /* line 1144, ../../../../../.rvm/gems/ruby-1.9.3-p194/gems/spree_core-1.2.0/app/assets/stylesheets/store/screen.css.scss */
  #content {
    text-align: center;
  }
}
/*
* This is a manifest file that includes stylesheets for spree_core  




*/
/*


*/

#update-cart .coupon-code-field {
  /* yes, this is ugly... */

  margin-top: -42px !important;
}

@media only screen and (max-width: 767px) {
  #empty-cart,
  #update-cart .coupon-code-field {
    /* yes, this is ugly... */
    margin-top: 0 !important;
  }
}
/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 **/
@font-face {
    font-family: 'DroidSansRegular';
    src: url('webfonts/DroidSans-webfont.eot');
    src: url('webfonts/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/DroidSans-webfont.woff') format('woff'),
         url('webfonts/DroidSans-webfont.ttf') format('truetype'),
         url('webfonts/DroidSans-webfont.svg#DroidSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DroidSansBold';
    src: url('webfonts/DroidSans-Bold-webfont.eot');
    src: url('webfonts/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/DroidSans-Bold-webfont.woff') format('woff'),
         url('webfonts/DroidSans-Bold-webfont.ttf') format('truetype'),
         url('webfonts/DroidSans-Bold-webfont.svg#DroidSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font: 14px 'DroidSansRegular', Verdana, Helvetica, sans-serif!important;
    background: url("paper.jpg") repeat fixed #E3E3E3;
    font-weight: normal!important;
}

h1, h2, h3, h4, h5, h6 {font-family:'DroidSansBold', Georgia, serif!important; font-weight: normal!important;}

#sidebar div{
    background: none repeat scroll 0 0 #e87719;
    border-radius: 4px 4px 4px 4px;
    padding: 20px 10px;
    margin-bottom: 10px;
}

#sidebar div ul{
    padding-left: 5px!important;
}

#sidebar div nav li {list-style-type: none;}

#sidebar div nav li a, #header nav.sixteen a {
    color: #ffffff!important;
    font-family: 'DroidSansRegular', Verdana, Helvetica, sans-serif!important;
    font-size: 15px!important;
    font-weight: normal;
    height: 20px;
    line-height: 29px;
    text-decoration: none;
    text-transform: uppercase;
}

#sidebar div nav li a:hover, nav#top-nav-bar ul li a {
    color: #393939!important;
    font-weight: normal;
}

nav#taxonomies .taxonomy-root {
    font-size: 16px;
    border-bottom: 0;
}

/*#header {
    background: none repeat scroll 0 0 #ddd;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;
}

figure#logo {
    padding-left: 14%;
}

nav#top-nav-bar {
    float: right;
    padding-right: 14%;
}

#header nav.sixteen {
    background: #3a3a3a;
    border-radius: 5px;
    width: 72%;
    margin-left: 14%!important;
}

li#search-bar {
    position: relative;
    right: -5px;
}

div#wrapper {
    margin-top: 17%
}*/

#header nav.sixteen {
    background: #3a3a3a;
    border-radius: 5px;
    width: 100%;
}

#header nav.sixteen ul{
    margin-top: 15px;
    padding: 0 10px 12px 10px;
}

li#search-bar {
    position: relative;
    right: -5px;
}

nav#top-nav-bar {
    float: right;
}


div.flash.notice {
   background: green;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
  color: #ececec;
}

textarea, input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], select {
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 30px;
    vertical-align: middle;
    -moz-box-shadow: inset 0 0 3px #ccc!important;
    -webkit-box-shadow: inset 0 0 3px #ccc!important;
    box-shadow: inset 0 0 3px #ccc!important;
}

textarea:active, textarea:focus, input[type="date"]:active, input[type="date"]:focus, input[type="datetime"]:active, input[type="datetime"]:focus, input[type="datetime-local"]:active, input[type="datetime-local"]:focus, input[type="email"]:active, input[type="email"]:focus, input[type="month"]:active, input[type="month"]:focus, input[type="number"]:active, input[type="number"]:focus, input[type="password"]:active, input[type="password"]:focus, input[type="search"]:active, input[type="search"]:focus, input[type="tel"]:active, input[type="tel"]:focus, input[type="text"]:active, input[type="text"]:focus, select:active, select:focus, input[type="time"]:active, input[type="time"]:focus, input[type="url"]:active, input[type="url"]:focus, input[type="week"]:active, input[type="week"]:focus {
    box-shadow: 0 0 4px 0 #E87719!important;
    border: 0;
}

#search-bar input[value="Search"] {
    width: 30px;
    height: 30px;
    border-radius: 0 5px 5px 0;
    position: relative;
    left: -6px;
    background: #3a3a3a;
    border: 0;
    color: transparent!important;
    background: url("search.png") no-repeat scroll center center;
}

#search-bar input[value="Search"]:hover {
    color: transparent!important;
}

a:link, a:visited, ul#products li .price, #product-price span.price, .cart-item-price, .cart-item-total, .order-total, #billing legend, #shipping legend, #shipping_method legend, #payment legend, #order_details legend, #order_summary legend, 
span.price, #checkout-summary table tr[data-hook="item_total"] td:last-child strong, #checkout-summary table #summary-order-total, #order_details td.price span, #order_details td.total span, #order_summary td.price span, #order_summary td.total span, 
table#cart-detail tbody#line_items tr td[data-hook="cart_item_price"], table#cart-detail tbody#line_items tr td[data-hook="cart_item_total"], div[data-hook="inside_cart_form"] #subtotal span.order-total {
    color: #e77816!important; 
    font-family: 'DroidSansRegular', Verdana, Helvetica, sans-serif!important; 
    font-weight: normal!important;
}
a:hover, a:active, #footer-left a:hover {color: #f38a2e!important;}

div#content {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    overflow: hidden;
    padding: 10px;
}

ul#products li a.info {color: #999!important; padding-bottom: 5px;}

ul#products li a.info:hover {
    color: #777!important;
}

ul#products li .product-image {border: 0;}

ul#products li {
    border: 1px solid #eee; 
    padding: 15px;
    margin: 20px!important;
    border-radius: 5px;
    -webkit-box-shadow: 0 8px 6px -6px #888;
       -moz-box-shadow: 0 8px 6px -6px #888;
            box-shadow: 0 8px 6px -6px #888;
}

ul#products li:hover {
    -moz-box-shadow: 0 0 6px #999;
    -webkit-box-shadow: 0 0 6px#999;
    box-shadow: 0 0 6px #999;
}

ul#products li:hover > a.info {
    color: #777!important;
}

ul#products li:hover > .price {
    color: #dd6800!important;
    text-shadow: 1px 1px 1px #ccc!important;
}

#footer {
    width: 100%;
    background: #3a3a3a;
    border-radius: 5px 5px 0 0;
}

#footer-left p {
    padding-left: 10px;
    color: #eee;
} 

input[type="submit"], input[type="button"], input[type="reset"], button, a.button {
    background: #45484d; /* Old browsers */
    background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#45484d), color-stop(100%,#000000)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #45484d 0%,#000000 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #45484d 0%,#000000 100%); /* IE10+ */
    background: linear-gradient(to bottom, #45484d 0%,#000000 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    border: 0;
    border-radius: 5px;
    font-family: 'DroidSansRegular', Verdana, Helvetica, sans-serif!important; font-weight: normal;
    line-height: inherit!important;
}

input[type="submit"]:hover, input[type="button"]:hover, input[type="reset"]:hover, button:hover, a.button:hover {background: #222222;}

button:focus, input:focus, select:focus, textarea:focus {box-shadow: 0 0 7px 0 #ff8a00;}

#clear_cart_link input, #clear_cart_link a, #update-button, #checkout-link, input[type="button"], input[type="reset"], button, a.button, input.continue.button.primary, #sidebar input[type="submit"], input[value="login"], input.button.primary {
    padding: 10px!important;
    font-size: 12px!important;
    text-shadow: 1px 1px 1px #000!important;
    color: #fff!important;
}

table {margin-top: 15px;}
table thead{background: #eee;}
thead th{padding: 10px!important; text-align: left; padding-left: 10px; text-transform: capitalize; font-family: 'DroidSansRegular', Verdana, Helvetica, sans-serif!important; 
    font-weight: normal!important;}

#link-to-cart .amount, ol.progress-steps li, #sidebar_products_search h6.filter-title {font-family: 'DroidSansRegular', Verdana, Helvetica, sans-serif!important; font-weight: normal!important;}

ol.progress-steps li {padding-top: 9px!important;}
#sidebar_products_search div.navigation h6.filter-title {color: #333!important;}
.progress-steps li.current-first, .progress-steps li.current {
    background: #f9c667; /* Old browsers */
    background: -moz-linear-gradient(top, #f9c667 0%, #f79621 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9c667), color-stop(100%,#f79621)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f9c667 0%,#f79621 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f9c667 0%,#f79621 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f9c667 0%,#f79621 100%); /* IE10+ */
    background: linear-gradient(to bottom, #f9c667 0%,#f79621 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9c667', endColorstr='#f79621',GradientType=0 ); /* IE6-9 */
    border-radius: 5px;
    color: #fff!important;
}

.progress-steps li.completed-first, .progress-steps li.completed {
    -moz-box-shadow: inset 0 0 3px #ccc!important;
    -webkit-box-shadow: inset 0 0 3px #ccc!important;
    box-shadow: inset 0 0 3px #ccc!important;
    border-radius: 5px;
}
.progress-steps li.completed-first, .progress-steps li.completed, .progress-steps li.completed-first a, .progress-steps li.completed a {
    color: #666!important;
}

.progress-steps li.completed-first:hover, .progress-steps li.completed:hover {
   background: #e6e6e6!important; 
}

.progress-steps li.completed-first:hover, .progress-steps li.completed:hover, .progress-steps li.completed-first:hover a:hover, .progress-steps li.completed:hover a:hover {
   color: #999!important;
}

table tbody tr.alt, table tbody tr.odd, table tfoot tr.alt, table tfoot tr.odd {background: #eee!important;}
#sidebar .navigation, #sidebar .navigation ul {padding-left: 0!important;}
#sidebar .navigation ul li {margin-bottom: 5px; padding-top: 5px;}

#checkout-summary table tbody tr td {text-align: left;}

#product-thumbnails li:hover, #product-thumbnails li.selected {border-color: #e87719!important;}