#popup_container {
  font-family: Arial, sans-serif;
  font-size: 12px;
  min-width: 300px; /* Dialog will be no smaller than this */
  max-width: 600px; /* Dialog will wrap after this width */
  background: #FFF;
  border: solid 5px #999;
  color: #000;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#popup_title {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 1.75em;
  color: #666;
  background: #CCC url(/assets/jquery.alerts/images/title.gif) top repeat-x;
  border: solid 1px #FFF;
  border-bottom: solid 1px #999;
  cursor: default;
  padding: 0em;
  margin: 0em;
}

#popup_content {
  background: 16px 16px no-repeat url(/assets/jquery.alerts/images/info.gif);
  padding: 1em 1.75em;
  margin: 0em;
}

#popup_content.alert {
  background-image: url(/assets/jquery.alerts/images/info.gif);
}

#popup_content.confirm {
  background-image: url(/assets/jquery.alerts/images/important.gif);
}

#popup_content.prompt {
  background-image: url(/assets/jquery.alerts/images/help.gif);
}

#popup_message {
  padding-left: 48px;
}

#popup_panel {
  text-align: center;
  margin: 1em 0em 0em 1em;
}

#popup_prompt {
  margin: .5em 0em;
}
/* Spree Custom dialog styles */
#popup_container.spree {
  color: #fff;
  background: #005294;
  border-color: #113F66;
}

#popup_container.spree #popup_title {
  color: #FFF;
  font-weight: normal;
  text-align: left;
  background: #76A5CC;
  border: solid 1px #005294;
  padding-left: 1em;
}

#popup_container.spree #popup_content {
  background: none;
}

#popup_container.spree #popup_message {
  padding-left: 0em;
}

#popup_container.spree input[type='button'] {
  border: outset 2px #76A5CC;
  color: #fff;
  background: #3778AE;
}
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr, hr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

body { line-height: 1.5 }

blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" ""; }
  blockquote:before,
  blockquote:after,   q:before,
  q:after {
    content: ""; }

th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: top; }

table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

a img { border: none }

#taxons-tree li { list-style-type: none; }

table.index th {
  background: #cdcdcd url(/assets/admin/bg/grid_header_back.png) top left repeat-x;
  padding: 7px 10px;
  border-left: 1px solid #ddd;
  border-top: 1px solid #ddd;
  border-right: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  text-shadow: #efefef 1px 1px 0px; }
  table.index th .right {
    float:right;
    font-weight:normal;
  }
  table.index th.id-col {
    text-align: center; }
  table.index td {
    background-color: #fff;
    border-bottom:1px solid #ddd;
    padding: 3px 10px;
  }
  table.index td.lbl-col {
    width: 12%; }
   table.index td.val-col {
    width: 38%; }
table.index tr.alt td {
  background-color: #efefef; }
table.index.green th {
  background: #cfefa7 url(/assets/admin/bg/grid_header_back_green.png) top left repeat-x;
  border-left: 1px solid #E4FDB4;
  border-top: 1px solid #E4FDB4;
  border-right: 1px solid #B7CB90;
  border-bottom: 1px solid #B7CB90; }
table.index.green td {
  background-color: #efe; }
table.index.order-summary {
  clear: both; }
  table.index.order-summary tr.totals th {
    background: transparent;
    text-align: right;
    border: none; }
table.index td.actions {text-align:right;}
/* --------------------------------------------------------------

   forms.css
   * Sets up some default styling for forms
   * Gives you classes to enhance your forms

   Usage:
   * For text fields, use class .title or .text

-------------------------------------------------------------- */


label       { font-weight: bold; }
fieldset    { padding:1.4em; margin: 0 0 1.5em 0; border: 1px solid #ccc; }
legend      { font-weight: bold; font-size:1.2em; margin:0; }


/* Form fields
-------------------------------------------------------------- */

input.text, input.title,
input, textarea, select {
  margin:0.25em 0;
  border:1px solid #bbb;
}

input.text:focus, input.title:focus,
textarea:focus, select:focus {
  border:1px solid #666;
}

input.text,
input.title   { padding:5px; }
input.title   { font-size:1.5em; }
textarea      { height: 250px; padding:5px; }


fieldset#preferences input.input_string, fieldset#preferences textarea {
  border: 1px solid #BBB;
  padding: 5px;
  font-size: 1.5em;
  width: 98%;
}

fieldset#preferences textarea { height: 100px; }

.required { color:#f00; font-weight:bold; font-size:1.2em;}
.fullwidth { width:98% }

/* container that holds a field that's got a master label then labels under each sub field e.g. Name might have firstname, lastname */
.sub-field { margin:0; padding:0; margin:0 0 0.25em 0 }
.sub-field label, label.sub { font-weight:normal; color:#333; }
.sub-field input { margin-bottom:0 }


.date-range-filter {width:220px;}
  .date-range-filter input {width:70px;}

/* Multi-column form layout
-------------------------------------------------------------- */
div.split {
  background-color:#eee;
}
form div.left
{
  display:inline;
  float:left;
  width:48%;
}

form div.right
{
  display:inline;
  float:right;
  width:48%;
}
form p {
  clear:both;
}
form div.left.w70 {
  width:68%;
}
form div.right.w30 {
  width:28%;
}


/* Flashes and error messages
-------------------------------------------------------------- */

.flash {
  font-size:130%;font-weight:bold;
  padding: .4em 0 .4em 38px; margin-bottom: 1em;
  border:1px solid #c00;
  border-left:none;border-right:none;
}
.flash.error {
  background: #FDE4E4 url(/assets/admin/icons/exclamation.png) 10px center no-repeat;
  color:#c00; border-color:#c00;
}
.flash.notice {
  background: #E7F8D7 url(/assets/admin/icons/tick.png) 10px center no-repeat;
  color:#59A151; border-color: #59A151;
}

.withError {
  background-color:#FDE4E4;
  background-image:url(/assets/admin/bg/red-stripes.png);
}
.formError {
  color:#c00; font-weight:bold;
  display:block;
}


.member-list {
  list-style:none;margin:0;margin-bottom:1em;
}


.form-buttons {
  margin-top: 1em;
  clear: both;
  }
  .form-buttons a {
    text-transform: lowercase; }

.field {
  margin-bottom: 1em;
  clear: both;
  position: relative; }
  .field .formError {
    color: #fff;
    background: #f15700 url(/assets/admin/icons/exclamation.png) center left no-repeat;
    padding: 3px 7px;
    display: inline-block;
    margin-bottom: 1em;
    padding-left: 20px; }
  .field.fluid {
    clear: none;
    float: left;
    margin-right: 1em; }
  .field label {
    display: block; }
    .field label span.label {
      display: block; }

fieldset {
  margin-bottom: 1em;
  padding: 1em;
  border: solid 1px #ccc;
  background-color: #fff;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  }
  fieldset h1 {
    font-size: 1.75em; }
  fieldset table.index th:first-child {
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px; }
  fieldset table.index th:last-child {
    -moz-border-radius-topright: 5px;
    -webkit-border-top-right-radius: 5px; }

/* -------------------------------------------------------------- 
   
   typography.css
   * Sets up some sensible default typography.
   
-------------------------------------------------------------- */

/* Default font settings. 
   The font-size percentage is of 16px. (0.75 * 16px = 12px) */

body { 
  font-size: 75%;
  color: #222; 
  font-family: "Helvetica Neue", Helvetica, Tahoma, Verdana, Arial, sans-serif;
}

/* Headings
-------------------------------------------------------------- */

h1,h2,h3,h4,h5,h6 { font-weight: bold; color: #111; }

h1 { font-size: 2.5em; margin-bottom: 0.75em; line-height: 1em; }
h2 { font-size: 1.5em; line-height: 1; margin-bottom: 0.6em; }
h3 { font-size: 1.5em; line-height: 1.25; margin-bottom: 0.6em; }
h4 { font-size: 1em; font-weight: bold; margin-bottom: 1.5em; }
h5 { font-size: 1em; font-weight: bold; }
h6 { font-weight: normal }

h1 img, h2 img, h3 img, 
h4 img, h5 img, h6 img { margin: 0 }


h1, h2 { letter-spacing: -1px }


/* Text elements
-------------------------------------------------------------- */

p           { margin: 0 0 1em; }
p img.left  { float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0; }
p img.right { float: right; margin: 1.5em 0 1.5em 1.5em; }

a:focus, 
a:hover     { color: #000; }
a           { color: #009; text-decoration: none; }

blockquote  { margin: 1.5em; color: #666; font-style: italic; }
strong      { font-weight: bold; }
em,dfn      { font-style: italic; }
dfn         { font-weight: bold; }
sup, sub    { line-height: 0; }

abbr, 
acronym     { border-bottom: 1px dotted #666; }
address     { margin: 0 0 1.5em; font-style: italic; }
del         { color:#666; }

pre         { margin: 1.5em 0; white-space: pre; }
pre,code,tt { font: 1em 'andale mono', 'lucida console', monospace; line-height: 1.5; }


/* Lists
-------------------------------------------------------------- */

li ul, 
li ol       { margin:0 1.5em; }
ul, ol      { margin: 0 1.5em 1.5em 1.5em; }

ul          { list-style-type: disc; }
ol          { list-style-type: decimal; }

dl          { margin: 0 0 1.5em 0; }
dl dt       { font-weight: bold; }
dd          { margin-left: 1.5em;}


/* Tables
-------------------------------------------------------------- */

table       { margin-bottom: 1.4em; width:100%; }
th          { font-weight: bold; }
thead th    { background: #c3d9ff; }
th,td,caption { padding: 4px 10px 4px 5px; }
tr.even td  { background: #e5ecf9; }
tfoot       { font-style: italic; }
caption     { background: #eee; }


/* Misc
-------------------------------------------------------------- */

hr { clear: both; height:0; border:none}

.small      { font-size: .8em; margin-bottom: 1.875em; line-height: 1.875em; }
.large      { font-size: 1.2em; line-height: 2.5em; margin-bottom: 1.25em; }
.hide       { display: none; }

.quiet      { color: #666; }
.loud       { color: #000; }
.highlight  { background:#ff0; }
.added      { background:#060; color: #fff; }
.removed    { background:#900; color: #fff; }

.first      { margin-left:0; padding-left:0; }
.last       { margin-right:0; padding-right:0; }
.top        { margin-top:0; padding-top:0; }
.bottom     { margin-bottom:0; padding-bottom:0; }


.clear { clear: both }
.nowrap { white-space: nowrap }

.clearfix {
  overflow: auto;
  overflow: -moz-scrollbars-none;
  display: inline-block; }
  .clearfix {
    display: block; }
.ac_results {
  padding: 0px;
  border: 1px solid black;
  background-color: white;
  overflow: hidden;
  z-index: 99999;
}

.ac_results ul {
  width: 100%;
  list-style-position: outside;
  list-style: none;
  padding: 0;
  margin: 0;
}

.ac_results li {
  margin: 0px;
  padding: 5px 5px;
  cursor: default;
  display: block;
  /*
  if width will be 100% horizontal scrollbar will apear
  when scroll mode will be used
  */
  /*width: 100%;*/
  font: menu;
  font-size: 12px;
  /*
  it is very important, if line-height not setted or setted
  in relative units scroll will be broken in firefox
  */
  line-height: 16px;
  overflow: hidden;
  border-bottom: 1px solid black;
  color: #000;
  cursor: pointer;
}

.ac_results li img{
  float:left;
  padding-right: 5px;
  width: 30px;
}
.ac_results li h4 {
  margin-bottom: 3px;
  width: 330px;
  white-space: nowrap;
  overflow: hidden;
}
.ac_results li div{
  float:left;
}
.ac_results li span{
  display: block;
  float: left;
  margin-left: 8px;
}
.ac_loading {
  background: none;
}
.ac_odd {
  background-color: #fff;
}
.ac_over {
  background-color: #41A6F0;
  color: #fff!important;
}
.ac_over h4{
  color: #fff;
  text-decoration: underline;
}
/* Example tokeninput style #1: Token vertical list*/

ul.token-input-list {
    overflow: hidden; 
    height: auto !important; 
    height: 1%;
    width: 400px;
    border: 1px solid #999;
    cursor: text;
    font-size: 12px;
    font-family: Verdana;
    z-index: 999;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

ul.token-input-list li {
    list-style-type: none;
}

ul.token-input-list li input {
    border: 0;
    width: 350px;
    padding: 3px 8px;
    background-color: white;
}

li.token-input-token {
    overflow: hidden; 
    height: auto !important; 
    height: 1%;
    margin: 3px;
    padding: 3px 5px;
    color: #000;
    font-weight: bold;
    cursor: default;
    display: block;
}

li.token-input-token p {
    float: left;
    padding: 0;
    margin: 0;
}

li.token-input-token span {
    float: right;
    color: #777;
    cursor: pointer;
}

li.token-input-selected-token {
    background-color: #08844e;
    color: #fff;
}

li.token-input-selected-token span {
    color: #bbb;
}

div.token-input-dropdown {
    position: absolute;
    width: 400px;
    background-color: #fff;
    overflow: hidden;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: default;
    font-size: 12px;
    font-family: Verdana;
    z-index: 1;
}

div.token-input-dropdown p {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    color: #777;
}

div.token-input-dropdown ul {
    margin: 0;
    padding: 0;
}

div.token-input-dropdown ul li {
    background-color: #fff;
    padding: 3px;
    list-style-type: none;
}

div.token-input-dropdown ul li.token-input-dropdown-item {
    background-color: #fafafa;
}

div.token-input-dropdown ul li.token-input-dropdown-item2 {
    background-color: #fff;
}

div.token-input-dropdown ul li em {
    font-weight: bold;
    font-style: normal;
}

li.token-input-token, div.token-input-dropdown ul li.token-input-selected-dropdown-item {
    background-color: #BBDAFD;
}

/*
 * jQuery UI CSS Framework 1.8.14
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 */

/* Layout helpers
----------------------------------*/

.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute !important; clip: rect(1px 1px 1px 1px); clip: rect(1px,1px,1px,1px); }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
/* end clearfix */
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }


/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }


/* Icons
----------------------------------*/

/* states and images */
.ui-icon { display: block; text-indent: -99999px; overflow: hidden; background-repeat: no-repeat; }


/* Misc visuals
----------------------------------*/

/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }


/*
 * jQuery UI CSS Framework 1.8.14
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Theming/API
 *
 * To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Helvetica,%20Arial,%20sans-serif&fwDefault=bold&fsDefault=1.1em&cornerRadius=2px&bgColorHeader=dddddd&bgTextureHeader=03_highlight_soft.png&bgImgOpacityHeader=50&borderColorHeader=dddddd&fcHeader=444444&iconColorHeader=0073ea&bgColorContent=ffffff&bgTextureContent=01_flat.png&bgImgOpacityContent=75&borderColorContent=dddddd&fcContent=444444&iconColorContent=ff0084&bgColorDefault=f6f6f6&bgTextureDefault=03_highlight_soft.png&bgImgOpacityDefault=100&borderColorDefault=dddddd&fcDefault=0073ea&iconColorDefault=666666&bgColorHover=0073ea&bgTextureHover=03_highlight_soft.png&bgImgOpacityHover=25&borderColorHover=0073ea&fcHover=ffffff&iconColorHover=ffffff&bgColorActive=ffffff&bgTextureActive=02_glass.png&bgImgOpacityActive=65&borderColorActive=dddddd&fcActive=ff0084&iconColorActive=454545&bgColorHighlight=ffffff&bgTextureHighlight=01_flat.png&bgImgOpacityHighlight=55&borderColorHighlight=cccccc&fcHighlight=444444&iconColorHighlight=0073ea&bgColorError=ffffff&bgTextureError=01_flat.png&bgImgOpacityError=55&borderColorError=ff0084&fcError=222222&iconColorError=ff0084&bgColorOverlay=eeeeee&bgTextureOverlay=01_flat.png&bgImgOpacityOverlay=0&opacityOverlay=80&bgColorShadow=aaaaaa&bgTextureShadow=01_flat.png&bgImgOpacityShadow=0&opacityShadow=60&thicknessShadow=4px&offsetTopShadow=-4px&offsetLeftShadow=-4px&cornerRadiusShadow=0px
 */


/* Component containers
----------------------------------*/
.ui-widget { font-family: Helvetica, Arial, sans-serif; font-size: 1.1em; }
.ui-widget .ui-widget { font-size: 1em; }
.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button { font-family: Helvetica, Arial, sans-serif; font-size: 1em; }
.ui-widget-content { border: 1px solid #dddddd; background: #ffffff url(/assets/jquery-ui/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x; color: #444444; }
.ui-widget-content a { color: #444444; }
.ui-widget-header { border: 1px solid #dddddd; background: #dddddd url(/assets/jquery-ui/ui-bg_highlight-soft_50_dddddd_1x100.png) 50% 50% repeat-x; color: #444444; font-weight: bold; }
.ui-widget-header a { color: #444444; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default { border: 1px solid #dddddd; background: #f6f6f6 url(/assets/jquery-ui/ui-bg_highlight-soft_100_f6f6f6_1x100.png) 50% 50% repeat-x; font-weight: bold; color: #0073ea; }
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited { color: #0073ea; text-decoration: none; }
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus { border: 1px solid #0073ea; background: #0073ea url(/assets/jquery-ui/ui-bg_highlight-soft_25_0073ea_1x100.png) 50% 50% repeat-x; font-weight: bold; color: #ffffff; }
.ui-state-hover a, .ui-state-hover a:hover { color: #ffffff; text-decoration: none; }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { border: 1px solid #dddddd; background: #ffffff url(/assets/jquery-ui/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x; font-weight: bold; color: #ff0084; }
.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited { color: #ff0084; text-decoration: none; }
.ui-widget :active { outline: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight  {border: 1px solid #cccccc; background: #ffffff url(/assets/jquery-ui/ui-bg_flat_55_ffffff_40x100.png) 50% 50% repeat-x; color: #444444; }
.ui-state-highlight a, .ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a { color: #444444; }
.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {border: 1px solid #ff0084; background: #ffffff url(/assets/jquery-ui/ui-bg_flat_55_ffffff_40x100.png) 50% 50% repeat-x; color: #222222; }
.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a { color: #222222; }
.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text { color: #222222; }
.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary { font-weight: bold; }
.ui-priority-secondary, .ui-widget-content .ui-priority-secondary,  .ui-widget-header .ui-priority-secondary { opacity: .7; filter:Alpha(Opacity=70); font-weight: normal; }
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled { opacity: .35; filter:Alpha(Opacity=35); background-image: none; }

/* Icons
----------------------------------*/

/* states and images */
.ui-icon { width: 16px; height: 16px; background-image: url(/assets/jquery-ui/ui-icons_ff0084_256x240.png); }
.ui-widget-content .ui-icon {background-image: url(/assets/jquery-ui/ui-icons_ff0084_256x240.png); }
.ui-widget-header .ui-icon {background-image: url(/assets/jquery-ui/ui-icons_0073ea_256x240.png); }
.ui-state-default .ui-icon { background-image: url(/assets/jquery-ui/ui-icons_666666_256x240.png); }
.ui-state-hover .ui-icon, .ui-state-focus .ui-icon {background-image: url(/assets/jquery-ui/ui-icons_ffffff_256x240.png); }
.ui-state-active .ui-icon {background-image: url(/assets/jquery-ui/ui-icons_454545_256x240.png); }
.ui-state-highlight .ui-icon {background-image: url(/assets/jquery-ui/ui-icons_0073ea_256x240.png); }
.ui-state-error .ui-icon, .ui-state-error-text .ui-icon {background-image: url(/assets/jquery-ui/ui-icons_ff0084_256x240.png); }

/* positioning */
.ui-icon-carat-1-n { background-position: 0 0; }
.ui-icon-carat-1-ne { background-position: -16px 0; }
.ui-icon-carat-1-e { background-position: -32px 0; }
.ui-icon-carat-1-se { background-position: -48px 0; }
.ui-icon-carat-1-s { background-position: -64px 0; }
.ui-icon-carat-1-sw { background-position: -80px 0; }
.ui-icon-carat-1-w { background-position: -96px 0; }
.ui-icon-carat-1-nw { background-position: -112px 0; }
.ui-icon-carat-2-n-s { background-position: -128px 0; }
.ui-icon-carat-2-e-w { background-position: -144px 0; }
.ui-icon-triangle-1-n { background-position: 0 -16px; }
.ui-icon-triangle-1-ne { background-position: -16px -16px; }
.ui-icon-triangle-1-e { background-position: -32px -16px; }
.ui-icon-triangle-1-se { background-position: -48px -16px; }
.ui-icon-triangle-1-s { background-position: -64px -16px; }
.ui-icon-triangle-1-sw { background-position: -80px -16px; }
.ui-icon-triangle-1-w { background-position: -96px -16px; }
.ui-icon-triangle-1-nw { background-position: -112px -16px; }
.ui-icon-triangle-2-n-s { background-position: -128px -16px; }
.ui-icon-triangle-2-e-w { background-position: -144px -16px; }
.ui-icon-arrow-1-n { background-position: 0 -32px; }
.ui-icon-arrow-1-ne { background-position: -16px -32px; }
.ui-icon-arrow-1-e { background-position: -32px -32px; }
.ui-icon-arrow-1-se { background-position: -48px -32px; }
.ui-icon-arrow-1-s { background-position: -64px -32px; }
.ui-icon-arrow-1-sw { background-position: -80px -32px; }
.ui-icon-arrow-1-w { background-position: -96px -32px; }
.ui-icon-arrow-1-nw { background-position: -112px -32px; }
.ui-icon-arrow-2-n-s { background-position: -128px -32px; }
.ui-icon-arrow-2-ne-sw { background-position: -144px -32px; }
.ui-icon-arrow-2-e-w { background-position: -160px -32px; }
.ui-icon-arrow-2-se-nw { background-position: -176px -32px; }
.ui-icon-arrowstop-1-n { background-position: -192px -32px; }
.ui-icon-arrowstop-1-e { background-position: -208px -32px; }
.ui-icon-arrowstop-1-s { background-position: -224px -32px; }
.ui-icon-arrowstop-1-w { background-position: -240px -32px; }
.ui-icon-arrowthick-1-n { background-position: 0 -48px; }
.ui-icon-arrowthick-1-ne { background-position: -16px -48px; }
.ui-icon-arrowthick-1-e { background-position: -32px -48px; }
.ui-icon-arrowthick-1-se { background-position: -48px -48px; }
.ui-icon-arrowthick-1-s { background-position: -64px -48px; }
.ui-icon-arrowthick-1-sw { background-position: -80px -48px; }
.ui-icon-arrowthick-1-w { background-position: -96px -48px; }
.ui-icon-arrowthick-1-nw { background-position: -112px -48px; }
.ui-icon-arrowthick-2-n-s { background-position: -128px -48px; }
.ui-icon-arrowthick-2-ne-sw { background-position: -144px -48px; }
.ui-icon-arrowthick-2-e-w { background-position: -160px -48px; }
.ui-icon-arrowthick-2-se-nw { background-position: -176px -48px; }
.ui-icon-arrowthickstop-1-n { background-position: -192px -48px; }
.ui-icon-arrowthickstop-1-e { background-position: -208px -48px; }
.ui-icon-arrowthickstop-1-s { background-position: -224px -48px; }
.ui-icon-arrowthickstop-1-w { background-position: -240px -48px; }
.ui-icon-arrowreturnthick-1-w { background-position: 0 -64px; }
.ui-icon-arrowreturnthick-1-n { background-position: -16px -64px; }
.ui-icon-arrowreturnthick-1-e { background-position: -32px -64px; }
.ui-icon-arrowreturnthick-1-s { background-position: -48px -64px; }
.ui-icon-arrowreturn-1-w { background-position: -64px -64px; }
.ui-icon-arrowreturn-1-n { background-position: -80px -64px; }
.ui-icon-arrowreturn-1-e { background-position: -96px -64px; }
.ui-icon-arrowreturn-1-s { background-position: -112px -64px; }
.ui-icon-arrowrefresh-1-w { background-position: -128px -64px; }
.ui-icon-arrowrefresh-1-n { background-position: -144px -64px; }
.ui-icon-arrowrefresh-1-e { background-position: -160px -64px; }
.ui-icon-arrowrefresh-1-s { background-position: -176px -64px; }
.ui-icon-arrow-4 { background-position: 0 -80px; }
.ui-icon-arrow-4-diag { background-position: -16px -80px; }
.ui-icon-extlink { background-position: -32px -80px; }
.ui-icon-newwin { background-position: -48px -80px; }
.ui-icon-refresh { background-position: -64px -80px; }
.ui-icon-shuffle { background-position: -80px -80px; }
.ui-icon-transfer-e-w { background-position: -96px -80px; }
.ui-icon-transferthick-e-w { background-position: -112px -80px; }
.ui-icon-folder-collapsed { background-position: 0 -96px; }
.ui-icon-folder-open { background-position: -16px -96px; }
.ui-icon-document { background-position: -32px -96px; }
.ui-icon-document-b { background-position: -48px -96px; }
.ui-icon-note { background-position: -64px -96px; }
.ui-icon-mail-closed { background-position: -80px -96px; }
.ui-icon-mail-open { background-position: -96px -96px; }
.ui-icon-suitcase { background-position: -112px -96px; }
.ui-icon-comment { background-position: -128px -96px; }
.ui-icon-person { background-position: -144px -96px; }
.ui-icon-print { background-position: -160px -96px; }
.ui-icon-trash { background-position: -176px -96px; }
.ui-icon-locked { background-position: -192px -96px; }
.ui-icon-unlocked { background-position: -208px -96px; }
.ui-icon-bookmark { background-position: -224px -96px; }
.ui-icon-tag { background-position: -240px -96px; }
.ui-icon-home { background-position: 0 -112px; }
.ui-icon-flag { background-position: -16px -112px; }
.ui-icon-calendar { background-position: -32px -112px; }
.ui-icon-cart { background-position: -48px -112px; }
.ui-icon-pencil { background-position: -64px -112px; }
.ui-icon-clock { background-position: -80px -112px; }
.ui-icon-disk { background-position: -96px -112px; }
.ui-icon-calculator { background-position: -112px -112px; }
.ui-icon-zoomin { background-position: -128px -112px; }
.ui-icon-zoomout { background-position: -144px -112px; }
.ui-icon-search { background-position: -160px -112px; }
.ui-icon-wrench { background-position: -176px -112px; }
.ui-icon-gear { background-position: -192px -112px; }
.ui-icon-heart { background-position: -208px -112px; }
.ui-icon-star { background-position: -224px -112px; }
.ui-icon-link { background-position: -240px -112px; }
.ui-icon-cancel { background-position: 0 -128px; }
.ui-icon-plus { background-position: -16px -128px; }
.ui-icon-plusthick { background-position: -32px -128px; }
.ui-icon-minus { background-position: -48px -128px; }
.ui-icon-minusthick { background-position: -64px -128px; }
.ui-icon-close { background-position: -80px -128px; }
.ui-icon-closethick { background-position: -96px -128px; }
.ui-icon-key { background-position: -112px -128px; }
.ui-icon-lightbulb { background-position: -128px -128px; }
.ui-icon-scissors { background-position: -144px -128px; }
.ui-icon-clipboard { background-position: -160px -128px; }
.ui-icon-copy { background-position: -176px -128px; }
.ui-icon-contact { background-position: -192px -128px; }
.ui-icon-image { background-position: -208px -128px; }
.ui-icon-video { background-position: -224px -128px; }
.ui-icon-script { background-position: -240px -128px; }
.ui-icon-alert { background-position: 0 -144px; }
.ui-icon-info { background-position: -16px -144px; }
.ui-icon-notice { background-position: -32px -144px; }
.ui-icon-help { background-position: -48px -144px; }
.ui-icon-check { background-position: -64px -144px; }
.ui-icon-bullet { background-position: -80px -144px; }
.ui-icon-radio-off { background-position: -96px -144px; }
.ui-icon-radio-on { background-position: -112px -144px; }
.ui-icon-pin-w { background-position: -128px -144px; }
.ui-icon-pin-s { background-position: -144px -144px; }
.ui-icon-play { background-position: 0 -160px; }
.ui-icon-pause { background-position: -16px -160px; }
.ui-icon-seek-next { background-position: -32px -160px; }
.ui-icon-seek-prev { background-position: -48px -160px; }
.ui-icon-seek-end { background-position: -64px -160px; }
.ui-icon-seek-start { background-position: -80px -160px; }
/* ui-icon-seek-first is deprecated, use ui-icon-seek-start instead */
.ui-icon-seek-first { background-position: -80px -160px; }
.ui-icon-stop { background-position: -96px -160px; }
.ui-icon-eject { background-position: -112px -160px; }
.ui-icon-volume-off { background-position: -128px -160px; }
.ui-icon-volume-on { background-position: -144px -160px; }
.ui-icon-power { background-position: 0 -176px; }
.ui-icon-signal-diag { background-position: -16px -176px; }
.ui-icon-signal { background-position: -32px -176px; }
.ui-icon-battery-0 { background-position: -48px -176px; }
.ui-icon-battery-1 { background-position: -64px -176px; }
.ui-icon-battery-2 { background-position: -80px -176px; }
.ui-icon-battery-3 { background-position: -96px -176px; }
.ui-icon-circle-plus { background-position: 0 -192px; }
.ui-icon-circle-minus { background-position: -16px -192px; }
.ui-icon-circle-close { background-position: -32px -192px; }
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-s { background-position: -64px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon-circle-triangle-n { background-position: -96px -192px; }
.ui-icon-circle-arrow-e { background-position: -112px -192px; }
.ui-icon-circle-arrow-s { background-position: -128px -192px; }
.ui-icon-circle-arrow-w { background-position: -144px -192px; }
.ui-icon-circle-arrow-n { background-position: -160px -192px; }
.ui-icon-circle-zoomin { background-position: -176px -192px; }
.ui-icon-circle-zoomout { background-position: -192px -192px; }
.ui-icon-circle-check { background-position: -208px -192px; }
.ui-icon-circlesmall-plus { background-position: 0 -208px; }
.ui-icon-circlesmall-minus { background-position: -16px -208px; }
.ui-icon-circlesmall-close { background-position: -32px -208px; }
.ui-icon-squaresmall-plus { background-position: -48px -208px; }
.ui-icon-squaresmall-minus { background-position: -64px -208px; }
.ui-icon-squaresmall-close { background-position: -80px -208px; }
.ui-icon-grip-dotted-vertical { background-position: 0 -224px; }
.ui-icon-grip-dotted-horizontal { background-position: -16px -224px; }
.ui-icon-grip-solid-vertical { background-position: -32px -224px; }
.ui-icon-grip-solid-horizontal { background-position: -48px -224px; }
.ui-icon-gripsmall-diagonal-se { background-position: -64px -224px; }
.ui-icon-grip-diagonal-se { background-position: -80px -224px; }


/* Misc visuals
----------------------------------*/

/* Corner radius */
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl { -moz-border-radius-topleft: 2px; -webkit-border-top-left-radius: 2px; -khtml-border-top-left-radius: 2px; border-top-left-radius: 2px; }
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr { -moz-border-radius-topright: 2px; -webkit-border-top-right-radius: 2px; -khtml-border-top-right-radius: 2px; border-top-right-radius: 2px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl { -moz-border-radius-bottomleft: 2px; -webkit-border-bottom-left-radius: 2px; -khtml-border-bottom-left-radius: 2px; border-bottom-left-radius: 2px; }
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br { -moz-border-radius-bottomright: 2px; -webkit-border-bottom-right-radius: 2px; -khtml-border-bottom-right-radius: 2px; border-bottom-right-radius: 2px; }

/* Overlays */
.ui-widget-overlay { background: #eeeeee url(/assets/jquery-ui/ui-bg_flat_0_eeeeee_40x100.png) 50% 50% repeat-x; opacity: .80;filter:Alpha(Opacity=80); }
.ui-widget-shadow { margin: -4px 0 0 -4px; padding: 4px; background: #aaaaaa url(/assets/jquery-ui/ui-bg_flat_0_aaaaaa_40x100.png) 50% 50% repeat-x; opacity: .60;filter:Alpha(Opacity=60); -moz-border-radius: 0px; -khtml-border-radius: 0px; -webkit-border-radius: 0px; border-radius: 0px; }/*
 * jQuery UI Datepicker 1.8.14
 *
 * Copyright 2011, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Datepicker#theming
 */
.ui-datepicker { width: 17em; padding: .2em .2em 0; display: none; }
.ui-datepicker .ui-datepicker-header { position:relative; padding:.2em 0; }
.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next { position:absolute; top: 2px; width: 1.8em; height: 1.8em; }
.ui-datepicker .ui-datepicker-prev-hover, .ui-datepicker .ui-datepicker-next-hover { top: 1px; }
.ui-datepicker .ui-datepicker-prev { left:2px; }
.ui-datepicker .ui-datepicker-next { right:2px; }
.ui-datepicker .ui-datepicker-prev-hover { left:1px; }
.ui-datepicker .ui-datepicker-next-hover { right:1px; }
.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span { display: block; position: absolute; left: 50%; margin-left: -8px; top: 50%; margin-top: -8px;  }
.ui-datepicker .ui-datepicker-title { margin: 0 2.3em; line-height: 1.8em; text-align: center; }
.ui-datepicker .ui-datepicker-title select { font-size:1em; margin:1px 0; }
.ui-datepicker select.ui-datepicker-month-year {width: 100%;}
.ui-datepicker select.ui-datepicker-month, 
.ui-datepicker select.ui-datepicker-year { width: 49%;}
.ui-datepicker table {width: 100%; font-size: .9em; border-collapse: collapse; margin:0 0 .4em; }
.ui-datepicker th { padding: .7em .3em; text-align: center; font-weight: bold; border: 0;  }
.ui-datepicker td { border: 0; padding: 1px; }
.ui-datepicker td span, .ui-datepicker td a { display: block; padding: .2em; text-align: right; text-decoration: none; }
.ui-datepicker .ui-datepicker-buttonpane { background-image: none; margin: .7em 0 0 0; padding:0 .2em; border-left: 0; border-right: 0; border-bottom: 0; }
.ui-datepicker .ui-datepicker-buttonpane button { float: right; margin: .5em .2em .4em; cursor: pointer; padding: .2em .6em .3em .6em; width:auto; overflow:visible; }
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current { float:left; }

/* with multiple calendars */
.ui-datepicker.ui-datepicker-multi { width:auto; }
.ui-datepicker-multi .ui-datepicker-group { float:left; }
.ui-datepicker-multi .ui-datepicker-group table { width:95%; margin:0 auto .4em; }
.ui-datepicker-multi-2 .ui-datepicker-group { width:50%; }
.ui-datepicker-multi-3 .ui-datepicker-group { width:33.3%; }
.ui-datepicker-multi-4 .ui-datepicker-group { width:25%; }
.ui-datepicker-multi .ui-datepicker-group-last .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-group-middle .ui-datepicker-header { border-left-width:0; }
.ui-datepicker-multi .ui-datepicker-buttonpane { clear:left; }
.ui-datepicker-row-break { clear:both; width:100%; font-size:0em; }

/* RTL support */
.ui-datepicker-rtl { direction: rtl; }
.ui-datepicker-rtl .ui-datepicker-prev { right: 2px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next { left: 2px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-prev:hover { right: 1px; left: auto; }
.ui-datepicker-rtl .ui-datepicker-next:hover { left: 1px; right: auto; }
.ui-datepicker-rtl .ui-datepicker-buttonpane { clear:right; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button { float: left; }
.ui-datepicker-rtl .ui-datepicker-buttonpane button.ui-datepicker-current { float:right; }
.ui-datepicker-rtl .ui-datepicker-group { float:right; }
.ui-datepicker-rtl .ui-datepicker-group-last .ui-datepicker-header { border-right-width:0; border-left-width:1px; }
.ui-datepicker-rtl .ui-datepicker-group-middle .ui-datepicker-header { border-right-width:0; border-left-width:1px; }

/* IE6 IFRAME FIX (taken from datepicker 1.5.3 */
.ui-datepicker-cover {
    display: none; /*sorry for IE5*/
    display/**/: block; /*sorry for IE5*/
    position: absolute; /*must have*/
    z-index: -1; /*must have*/
    filter: mask(); /*must have*/
    top: -4px; /*must have*/
    left: -4px; /*must have*/
    width: 200px; /*must have*/
    height: 200px; /*must have*/
}
/*Version: 2.1 Timestamp: Tue Jun 12 19:50:25 PDT 2012 */
/* line 4, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/select2-rails-0.0.9/vendor/assets/stylesheets/select2.css.sass */
.select2-container {
  position: relative;
  display: inline-block;
  /* inline-block for ie7 */
  zoom: 1;
  *display: inline;
  /*Force border-box so that % widths fit the parent
   *container without overlap because of margin/padding.
   *
   *More Info : http://www.quirksmode.org/css/box.html */
  -moz-box-sizing: border-box;
  /* firefox */
  -ms-box-sizing: border-box;
  /* ie */
  -webkit-box-sizing: border-box;
  /* webkit */
  -khtml-box-sizing: border-box;
  /* konqueror */
  box-sizing: border-box;
  /* css3 */
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/select2-rails-0.0.9/vendor/assets/stylesheets/select2.css.sass */
.select2-drop, .select2-search {
  /*Force border-box so that % widths fit the parent
   *container without overlap because of margin/padding.
   *
   *More Info : http://www.quirksmode.org/css/box.html */
  -moz-box-sizing: border-box;
  /* firefox */
  -ms-box-sizing: border-box;
  /* ie */
  -webkit-box-sizing: border-box;
  /* webkit */
  -khtml-box-sizing: border-box;
  /* konqueror */
  box-sizing: border-box;
  /* css3 */
}

/* line 44, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/select2-rails-0.0.9/vendor/assets/stylesheets/select2.css.sass */
.select2-container .select2-search input {
  /*Force border-box so that % widths fit the parent
   *container without overlap because of margin/padding.
   *
   *More Info : http://www.quirksmode.org/css/box.html */
  -moz-box-sizing: border-box;
  /* firefox */
  -ms-box-sizing: border-box;
  /* ie */
  -webkit-box-sizing: border-box;
  /* webkit */
  -khtml-box-sizing: border-box;
  /* konqueror */
  box-sizing: border-box;
  /* css3 */
}
/* line 60, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/select2-rails-0.0.9/vendor/assets/stylesheets/select2.css.sass */
.select2-container .select2-choice {
  background-color: white;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #eeeeee), color-stop(0.5, white));
  background-image: -webkit-linear-gradient(center bottom, #eeeeee 0%, white 50%);
  background-image: -moz-linear-gradient(center bottom, #eeeeee 0%, white 50%);
  background-image: -o-linear-gradient(bottom, #eeeeee 0%, white 50%);
  background-image: -ms-linear-gradient(top, #eeeeee 0%, white 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eeeeee', endColorstr = '#ffffff', GradientType = 0);
  background-image: linear-gradient(top, #eeeeee 0%, white 50%);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #aaaaaa;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  height: 26px;
  line-height: 26px;
  padding: 0 0 0 8px;
  color: #444444;
  text-decoration: none;
}
/* line 85, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/select2-rails-0.0.9/vendor/assets/stylesheets/select2.css.sass */
.select2-container .select2-choice span {
  margin-right: 26px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/* line 93, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/select2-rails-0.0.9/vendor/assets/stylesheets/select2.css.sass */
.select2-container .select2-choice abbr {
  display: block;
  position: absolute;
  right: 26px;
  top: 8px;
  width: 12px;
  height: 12px;
  font-size: 1px;
  background: url(/assets/select2.png) right top no-repeat;
  cursor: pointer;
  text-decoration: none;
  border: 0;
  outline: 0;
}
/* line 106, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/select2-rails-0.0.9/vendor/assets/stylesheets/select2.css.sass */
.select2-container .select2-choice abbr:hover {
  background-position: right -11px;
  cursor: pointer;
}
/* line 109, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/select2-rails-0.0.9/vendor/assets/stylesheets/select2.css.sass */
.select2-container .select2-drop {
  background: white;
  border: 1px solid #aaaaaa;
  border-top: 0;
  position: absolute;
  top: 100%;
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
  z-index: 999;
  width: 100%;
  margin-top: -1px;
  -webkit-border-radius: 0 0 4px 4px;
  -moz-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
/* line 125, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/select2-rails-0.0.9/vendor/assets/stylesheets/select2.css.sass */
.select2-container .select2-choice div {
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background: #cccccc;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #cccccc), color-stop(0.6, #eeeeee));
  background-image: -webkit-linear-gradient(center bottom, #cccccc 0%, #eeeeee 60%);
  background-image: -moz-linear-gradient(center bottom, #cccccc 0%, #eeeeee 60%);
  background-image: -o-linear-gradient(bottom, #cccccc 0%, #eeeeee 60%);
  background-image: -ms-linear-gradient(top, #cccccc 0%, #eeeeee 60%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#cccccc', endColorstr = '#eeeeee', GradientType = 0);
  background-image: linear-gradient(top, #cccccc 0%, #eeeeee 60%);
  border-left: 1px solid #aaaaaa;
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  height: 100%;
  width: 18px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/select2-rails-0.0.9/vendor/assets/stylesheets/select2.css.sass */
.select2-container .select2-choice div b {
  background: url(/assets/select2.png) no-repeat 0 1px;
  display: block;
  width: 100%;
  height: 100%;
}
/* line 152, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/select2-rails-0.0.9/vendor/assets/stylesheets/select2.css.sass */
.select2-container .select2-search {
  display: inline-block;
  white-space: nowrap;
  z-index: 1010;
  min-height: 26px;
  width: 100%;
  margin: 0;
  padding-left: 4px;
  padding-right: 4px;
}
/* line 161, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/select2-rails-0.0.9/vendor/assets/stylesheets/select2.css.sass */
.select2-container .select2-search-hidden {
  display: block;
  position: absolute;
  left: -10000px;
}
/* line 165, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/select2-rails-0.0.9/vendor/assets/stylesheets/select2.css.sass */
.select2-container .select2-search input {
  background: white url(/assets/select2.png) no-repeat 100% -22px;
  background: url(/assets/select2.png) no-repeat 100% -22px, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
  background: url(/assets/select2.png) no-repeat 100% -22px, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url(/assets/select2.png) no-repeat 100% -22px, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url(/assets/select2.png) no-repeat 100% -22px, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
  background: url(/assets/select2.png) no-repeat 100% -22px, -ms-linear-gradient(top, white 85%, #eeeeee 99%);
  background: url(/assets/select2.png) no-repeat 100% -22px, linear-gradient(top, white 85%, #eeeeee 99%);
  padding: 4px 20px 4px 5px;
  outline: 0;
  border: 1px solid #aaaaaa;
  font-family: sans-serif;
  font-size: 1em;
  width: 100%;
  margin: 0;
  height: auto !important;
  min-height: 26px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
/* line 188, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/select2-rails-0.0.9/vendor/assets/stylesheets/select2.css.sass */
.select2-container .select2-search input.select2-active {
  background: white url(/assets/spinner.gif) no-repeat 100%;
  background: url(/assets/spinner.gif) no-repeat 100%, -webkit-gradient(linear, left bottom, left top, color-stop(0.85, white), color-stop(0.99, #eeeeee));
  background: url(/assets/spinner.gif) no-repeat 100%, -webkit-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url(/assets/spinner.gif) no-repeat 100%, -moz-linear-gradient(center bottom, white 85%, #eeeeee 99%);
  background: url(/assets/spinner.gif) no-repeat 100%, -o-linear-gradient(bottom, white 85%, #eeeeee 99%);
  background: url(/assets/spinner.gif) no-repeat 100%, -ms-linear-gradient(top, white 85%, #eeeeee 99%);
  background: url(/assets/spinner.gif) no-repeat 100%, linear-gradient(top, white 85%, #eeeeee 99%);
}

/* line 198, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/select2-rails-0.0.9/vendor/assets/stylesheets/select2.css.sass */
.select2-container-active .select2-choice, .select2-container-active .select2-choices {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border: 1px solid #5897fb;
  outline: none;
}

/* line 206, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/select2-rails-0.0.9/vendor/assets/stylesheets/select2.css.sass */
.select2-dropdown-open .select2-choice {
  border: 1px solid #aaaaaa;
  border-bottom-color: transparent;
  -webkit-box-shadow: 0 1px 0 white inset;
  -moz-box-shadow: 0 1px 0 white inset;
  -o-box-shadow: 0 1px 0 white inset;
  box-shadow: 0 1px 0 white inset;
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, white), color-stop(0.5, #eeeeee));
  background-image: -webkit-linear-gradient(center bottom, white 0%, #eeeeee 50%);
  background-image: -moz-linear-gradient(center bottom, white 0%, #eeeeee 50%);
  background-image: -o-linear-gradient(bottom, white 0%, #eeeeee 50%);
  background-image: -ms-linear-gradient(top, white 0%, #eeeeee 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 );
  background-image: linear-gradient(top, white 0%, #eeeeee 50%);
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
/* line 227, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/select2-rails-0.0.9/vendor/assets/stylesheets/select2.css.sass */
.select2-dropdown-open .select2-choice div {
  background: transparent;
  border-left: none;
}
/* line 230, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/select2-rails-0.0.9/vendor/assets/stylesheets/select2.css.sass */
.select2-dropdown-open .select2-choice div b {
  background-position: -18px 1px;
}

/* results */
/* line 235, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/select2-rails-0.0.9/vendor/assets/stylesheets/select2.css.sass */
.select2-container .select2-results {
  margin: 4px 4px 4px 0;
  padding: 0 0 0 4px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 200px;
}
/* line 242, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/select2-rails-0.0.9/vendor/assets/stylesheets/select2.css.sass */
.select2-container .select2-results li {
  line-height: 80%;
  padding: 7px 7px 8px;
  margin: 0;
  list-style: none;
  cursor: pointer;
  display: list-item;
}
/* line 249, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/select2-rails-0.0.9/vendor/assets/stylesheets/select2.css.sass */
.select2-container .select2-results .select2-highlighted {
  background: #3875d7;
  color: white;
}
/* line 252, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/select2-rails-0.0.9/vendor/assets/stylesheets/select2.css.sass */
.select2-container .select2-results li em {
  background: #feffde;
  font-style: normal;
}
/* line 255, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/select2-rails-0.0.9/vendor/assets/stylesheets/select2.css.sass */
.select2-container .select2-results .select2-highlighted em {
  background: transparent;
}
/* line 257, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/select2-rails-0.0.9/vendor/assets/stylesheets/select2.css.sass */
.select2-container .select2-results .select2-no-results {
  background: #f4f4f4;
  display: list-item;
}
/* line 260, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/select2-rails-0.0.9/vendor/assets/stylesheets/select2.css.sass */
.select2-container .select2-results .select2-disabled {
  display: none;
}

/*disabled look for already selected choices in the results dropdown
 *.select2-container .select2-results .select2-disabled.select2-highlighted {
 *    color: #666;
 *    background: #f4f4f4;
 *    display: list-item;
 *    cursor: default;
 *}
 *.select2-container .select2-results .select2-disabled {
 *  background: #f4f4f4;
 *  display: list-item;
 *  cursor: default;
 *} */
/* line 277, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/select2-rails-0.0.9/vendor/assets/stylesheets/select2.css.sass */
.select2-more-results {
  background: #f4f4f4;
  display: list-item;
}
/* line 278, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/select2-rails-0.0.9/vendor/assets/stylesheets/select2.css.sass */
.select2-more-results.select2-active {
  background: #f4f4f4 url(/assets/spinner.gif) no-repeat 100%;
}

/* disabled styles */
/* line 285, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/select2-rails-0.0.9/vendor/assets/stylesheets/select2.css.sass */
.select2-container.select2-container-disabled .select2-choice {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #dddddd;
  cursor: default;
}
/* line 290, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/select2-rails-0.0.9/vendor/assets/stylesheets/select2.css.sass */
.select2-container.select2-container-disabled .select2-choice div {
  background-color: #f4f4f4;
  background-image: none;
  border-left: 0;
}

/* multiselect */
/* line 298, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/select2-rails-0.0.9/vendor/assets/stylesheets/select2.css.sass */
.select2-container-multi .select2-choices {
  background-color: white;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(1%, #eeeeee), color-stop(15%, white));
  background-image: -webkit-linear-gradient(top, #eeeeee 1%, white 15%);
  background-image: -moz-linear-gradient(top, #eeeeee 1%, white 15%);
  background-image: -o-linear-gradient(top, #eeeeee 1%, white 15%);
  background-image: -ms-linear-gradient(top, #eeeeee 1%, white 15%);
  background-image: linear-gradient(top, #eeeeee 1%, white 15%);
  border: 1px solid #aaaaaa;
  margin: 0;
  padding: 0;
  cursor: text;
  overflow: hidden;
  height: auto !important;
  height: 1%;
  position: relative;
}
/* line 314, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/select2-rails-0.0.9/vendor/assets/stylesheets/select2.css.sass */
.select2-container-multi .select2-drop {
  margin-top: 0;
}
/* line 316, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/select2-rails-0.0.9/vendor/assets/stylesheets/select2.css.sass */
.select2-container-multi .select2-choices {
  min-height: 26px;
}
/* line 318, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/select2-rails-0.0.9/vendor/assets/stylesheets/select2.css.sass */
.select2-container-multi.select2-container-active .select2-choices {
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border: 1px solid #5897fb;
  outline: none;
}
/* line 326, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/select2-rails-0.0.9/vendor/assets/stylesheets/select2.css.sass */
.select2-container-multi .select2-choices li {
  float: left;
  list-style: none;
}
/* line 329, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/select2-rails-0.0.9/vendor/assets/stylesheets/select2.css.sass */
.select2-container-multi .select2-choices .select2-search-field {
  white-space: nowrap;
  margin: 0;
  padding: 0;
}
/* line 333, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/select2-rails-0.0.9/vendor/assets/stylesheets/select2.css.sass */
.select2-container-multi .select2-choices .select2-search-field input {
  color: #666666;
  background: transparent !important;
  font-family: sans-serif;
  font-size: 100%;
  height: 15px;
  padding: 5px;
  margin: 1px 0;
  outline: 0;
  border: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

/* line 348, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/select2-rails-0.0.9/vendor/assets/stylesheets/select2.css.sass */
.select2-default {
  color: #999999 !important;
}

/* line 352, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/select2-rails-0.0.9/vendor/assets/stylesheets/select2.css.sass */
.select2-container-multi .select2-choices .select2-search-choice {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #e4e4e4;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#eeeeee', GradientType=0 );
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -ms-linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(top, #f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  -webkit-box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  color: #333333;
  border: 1px solid #aaaaaa;
  line-height: 13px;
  padding: 3px 5px 3px 18px;
  margin: 3px 0 3px 5px;
  position: relative;
  cursor: default;
}
/* line 377, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/select2-rails-0.0.9/vendor/assets/stylesheets/select2.css.sass */
.select2-container-multi .select2-choices .select2-search-choice span {
  cursor: default;
}
/* line 379, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/select2-rails-0.0.9/vendor/assets/stylesheets/select2.css.sass */
.select2-container-multi .select2-choices .select2-search-choice-focus {
  background: #d4d4d4;
}

/* line 382, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/select2-rails-0.0.9/vendor/assets/stylesheets/select2.css.sass */
.select2-search-choice-close {
  display: block;
  position: absolute;
  right: 3px;
  top: 4px;
  width: 12px;
  height: 13px;
  font-size: 1px;
  background: url(/assets/select2.png) right top no-repeat;
  outline: none;
}

/* line 394, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/select2-rails-0.0.9/vendor/assets/stylesheets/select2.css.sass */
.select2-container-multi .select2-search-choice-close {
  left: 3px;
}
/* line 397, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/select2-rails-0.0.9/vendor/assets/stylesheets/select2.css.sass */
.select2-container-multi .select2-choices .select2-search-choice .select2-search-choice-close:hover, .select2-container-multi .select2-choices .select2-search-choice-focus .select2-search-choice-close {
  background-position: right -11px;
}
/* line 399, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/select2-rails-0.0.9/vendor/assets/stylesheets/select2.css.sass */
.select2-container-multi .select2-results {
  margin: -1px 0 0;
  padding: 0;
}
/* line 402, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/select2-rails-0.0.9/vendor/assets/stylesheets/select2.css.sass */
.select2-container-multi.select2-container-disabled .select2-choices {
  background-color: #f4f4f4;
  background-image: none;
  border: 1px solid #dddddd;
  cursor: default;
}
/* line 407, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/select2-rails-0.0.9/vendor/assets/stylesheets/select2.css.sass */
.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice {
  background-image: none;
  background-color: #f4f4f4;
  border: 1px solid #dddddd;
  padding: 3px 5px 3px 5px;
}
/* line 412, ../../../../.rvm/gems/ruby-1.9.3-p194/gems/select2-rails-0.0.9/vendor/assets/stylesheets/select2.css.sass */
.select2-container-multi.select2-container-disabled .select2-choices .select2-search-choice .select2-search-choice-close {
  display: none;
}

/* disabled styles */
/* end multiselect */
#language-bar,
#login-nav,
#store-nav {
  float: right;
   margin-top: 10px;}
  #language-bar li,
  #login-nav li,
  #store-nav li {
    float: left;
    margin-right: 1em;
    list-style: none; }

.address-form label,
#creditcard label {
  width: 200px;
  display: block;
  float: left; }

#creditcard label {
  width: 150px; }

input.default {
  color: #999; }
  input.default:focus {
    color: inherit; }

p.help-text {
  font-style: italic;
  font-weight: normal;
  margin-bottom: 0;
  color: #999; }




body {
  margin-top: 0px;
  background-color: #162F54;
  color: #476D9B;
 }

  a {
    color: #4884BD; }
    a:active,
    a:visited {
      color: #4884BD; }

  #header {
  height:95px;
  position: relative;
  margin-bottom: 13px;
  }
  #header,
  #footer {
    position: relative;
    clear: both; }
  #content {
    margin: 0em 1em 1em 1em;
    padding: 1em;
    background: #fff;
    color: #111;
    min-height: 500px; }
    #content a {
      color: #3C7DFB; }
      #content a:active,
      #content a:visited {
        color: #3C7DFB; }
    #content.with-sidebar {
      background: #fff url(/assets/admin/bg/content-back.png) right top repeat-y;
      padding-right: 340px;
      position: relative; }
      #sidebar {
        position: absolute;
        width: 305px;
        top: 0; right: 0;
        padding-top: 3em;
        }
        #sidebar .box {
          padding:10px;
        }
        #sidebar .box h3 { margin: 0 0 10px 0; }
        #sidebar h3 {
          margin: 0 10px; }
          #sidebar h3 a {
            color: #111;
            text-decoration: none; }
        #sidebar h5 {
          margin: 0 10px;
          width: 130px;
          float: left;}
        #sidebar span.sku {
          display: block;
          font-weight: normal; }
        #sidebar img {
          float: right;
          margin-right: 1em; }
          #sidebar img.calendar_date_select_popup_icon {
            float: none; }
        #sidebar .field {
          padding: 0 1em; }
        #sidebar .form-buttons {
          padding: 0 1em; }
        #sidebar h4 {
          margin-left: 10px; }
        #sidebar ul.sidebar {
          clear: both;
          position: relative;
          margin: 0;
          padding: 0; }
          #sidebar ul.sidebar li {
            list-style: none; }
            #sidebar ul.sidebar li a {
              display: block;
              padding: 10px 20px 10px;
              outline: none;
              text-decoration: none;
              color: #666 !important; }
              #sidebar ul.sidebar li a:hover { background-color:#ddd }
              #sidebar ul.sidebar li.active a {
                font-weight: bold;
                background: url(/assets/admin/bg/menu-current.png) left center no-repeat;
                color: #363 !important;
                margin-left: -20px;
                padding-left: 30px; }
        #sidebar .order-number,
        #sidebar .order-status {
          text-align: right;
          margin-right: 20px; }
        #sidebar .order-status {
          padding: 7px 15px;
          -moz-border-radius: 3px;
          -webkit-border-radius: 3px;
          float: right;
          background-color: #999;
          color: #111;
          text-transform: uppercase; }
          #sidebar .order-status.new {
            background-color: #5D9C0F;
            color: #fff; }
          #sidebar .order-status.canceled {
            background-color: #c00;
            color: #fff; }

  #header #logo {
  position: absolute;
  top: 0;
  left: 10px;
}
  #header h1 {
  position: absolute;
  left: 200px;
  bottom: 19px;
    margin: 10px 10px 10px 10px;
    display: block;
    text-decoration: none;
    line-height: 100%;

  }
  #header h1 a {
  color: #8CB952;
  }
  #admin-menu { clear: both; }
  #admin-menu,
  #sub-menu {
    margin: 0 1em;
    }
    #admin-menu li {

    }
    #admin-menu ul,
    #sub-menu ul {
      padding: 0;
      margin: 0; }
      #admin-menu ul li,
      #sub-menu ul li {
        float: left;
        margin-right: 1em;
        list-style: none; }
      #admin-menu ul li,
      #sub-menu ul li {
        margin-right: 0; margin-bottom: -1px;}
        #admin-menu ul li a,
        #sub-menu ul li a {
          display: block;
          padding: 10px 20px;
          color: #fff;
          text-decoration: none;
          outline: none; }
        #admin-menu ul li.selected a,
        #sub-menu ul li.selected a {
          background-color: #0095da;
          }
        #admin-menu ul li.selected {
          border-bottom:1px solid #0095DA;
        }
  #IE7 #admin-menu {
    height: 39px; }
  #admin-menu {
    background: #154e8c url(/assets/admin/bg/admin_tab_back.png) top left repeat-x;
    border-top: 1px solid #4B83E2;
    border-right: 1px solid #34599B;
    border-bottom: 1px solid #41A6F0;
    }
    #admin-menu ul {
      margin-bottom: -1px; }
      #admin-menu ul li:first-child {
        border-left: 1px solid #34599B; }
      #admin-menu ul li.selected {
        background: #0095da url(/assets/admin/bg/admin_tab_selected_back.png) top left repeat-x;
        border-left: 1px solid #41A6F0;
        border-top: 1px solid #41A6F0;
        border-right: 1px solid #4986BF;
        height: 40px;
        margin-top: -2px; }
  #sub-menu {
    background: #0095da;
    border-left: 1px solid #41A6F0;
    border-right: 1px solid #4986BF; }
    #IE7 #sub-menu ul {
      height: 26px; }
    #sub-menu ul li a {
      padding: 3px 7px;
      margin: 10px 5px;
      color: #154e8c;
      background: none; }
    #sub-menu ul li.selected a {
      background: #154e8c;
      color: #9BC3FC;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px; }
  #slide-content {
    margin: 0 1em;
    background-color: #cdf; }
  .toolbar {
    float: right;
    margin-bottom: 1em; }
    .toolbar ul.actions {
      margin: 0;
      padding: 0;
      float: right; }
      .toolbar ul.actions li {
        float: left;
        margin-right: 1em;
        list-style: none; }
      .toolbar ul.actions li {
        margin-right: 0; }
    .toolbar.order-links a {
      text-transform: capitalize; }
  .search-form {
    display: none;
    padding: 1em; }
    .search-form label {
      display: block; }
  a.button {
    background: transparent url(/assets/admin/buttons/right_01.png) no-repeat scroll top right;
    display: block;
    float: left;
    margin-right: 6px;
    padding-right: 20px;
    text-decoration: none;
    color: #111 !important;
    font-weight: bold;
    outline: none; }
    a.button span {
      background: transparent url(/assets/admin/buttons/left_01.png) no-repeat;
      display: block;
      line-height: 22px;
      padding: 7px 0 5px 14px;
      text-shadow: #efefef 1px 1px 0px; }
    a.button img {
      vertical-align: middle;
      margin: 0 3px 0 0; }
    a.button.cancel span {
      font-weight: normal; }
    a.button.small {
      font-size: 1em;
      background: transparent url(/assets/admin/buttons/right_01_small.png) no-repeat scroll top right;
      padding-right: 20px; }
      a.button.small span {
        background: transparent url(/assets/admin/buttons/left_01_small.png) no-repeat;
        padding: 5px 0 3px 20px;
        line-height: 21px; }
    a.button.green {
      background: transparent url(/assets/admin/buttons/green/right_01.png) no-repeat scroll top right;
      color: #151 !important; }
      a.button.green span {
        background: transparent url(/assets/admin/buttons/green/left_01.png) no-repeat; }
  button {
    border: 0;
    cursor: pointer;
    font-weight: bold;
    padding: 0 20px 0 0;
    text-align: center;
    background: url(/assets/admin/buttons/right_01.png) center right no-repeat;
    font-size: 1.3em;
    outline: none; }
    button span {
      position: relative;
      display: block;
      white-space: nowrap;
      padding: 0 0 0 20px;
      height: 35px;
      line-height: 35px;
      background: url(/assets/admin/buttons/left_01.png) center left no-repeat;
      text-shadow: #efefef 1px 1px 0px; }
      button span img {
        vertical-align: middle;
        margin: 0 3px 0 0; }
    button:focus {
      outline: none; }
    button.tick {
      background: none;
      width: 24px; }
    button.small {
      font-size: 1em;
      padding: 0 10px 0 10px;
    }
  input.title,
  textarea {
    margin: 0; }
  .errorExplanation {
    border: solid 2px #f15700;
    padding: 1em;
    margin-bottom: 1em;
    background: #cdf;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px; }
    .errorExplanation ul {
      color: #f15700;
      list-style: square; }
    .errorExplanation h2 {
      font-size: 1.75em;
      padding-left: 40px;
      background: url(/assets/admin/icons/32x32/3.png) center left no-repeat; }
  ul.checkbox-list {
    list-style: none; }
    ul.checkbox-list li {
      display: block;
      float: left;
      width: 200px; }
      ul.checkbox-list li label {
        font-weight: normal !important; }
  #busy_indicator {
    margin-bottom: 1em; }
  select#filter_state {
    font-size: 1.5em; }
  h2.order-number {
    margin-bottom: 0; }
  h4.order-status {
    display: block;
    font-weight: normal; }
  .adr {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
    padding: 1em;
    border: solid 1px #999;
    -moz-border-radius: .5em;
    -webkit-border-radius: .5em;
    min-width: 46%; }
    .adr .fn {
      font-weight: bold; }
    .adr h4 {
      margin-bottom: 1em;
      border-bottom: 1px solid #ccc;
      padding-bottom: .5em;
      color: #666; }
  ul.taxonomy-tree {
    cursor: default;
    list-style: none;
    margin: 0;
    padding: 0 0 0 35px;
    min-height: 2em; }
    ul.taxonomy-tree li.taxon {
      clear: both;
      padding: 5px; }
      ul.taxonomy-tree li.taxon span,
      ul.taxonomy-tree li.taxon input {
        float: left;
        margin-right: 1em; }
      ul.taxonomy-tree li.taxon .name {
        float: left;
        cursor: move; }
      ul.taxonomy-tree li.taxon.new ul.taxonomy-actions,
      ul.taxonomy-tree li.taxon.editing ul.taxonomy-actions {
        display: none; }
      ul.taxonomy-tree li.taxon.to-destroy {
        color: #900;
        text-decoration: line-through; }
        ul.taxonomy-tree li.taxon.to-destroy ul.taxonomy-actions {
          display: none; }
  .placeholder {
    height: 30px;
    clear: both;
    border: dashed 2px #ddd; }
  ul.taxonomy-actions {
    float: left;
    list-style: none;
    margin: 0px 0px 10px 10px;
    padding: 0; }
    ul.taxonomy-actions li {
      float: left;
      margin-right: 5px; }
      ul.taxonomy-actions li img {
        vertical-align: text-top; }
      ul.taxonomy-actions li.disabled {
        opacity: .5; }
  h3.warning {
    background-image: url(/assets/admin/icons/exclamation.png);
    background-position: 10px 15px;
    background-repeat: no-repeat;
    padding-left: 35px; }
  #searching {
    clear: both;
    margin-top: 2em; }


.pagination{
  padding-top: 10px;
  text-align: right;
}
a.page, span.page {
  padding: 0px 5px;
  margin: 0 3px;
}
a.page {
  text-decoration: none;
  border: 1px solid #9aafe5;
  color: #2e6ab1;
}
a.page:hover, a.page:active {
  border: 1px solid #2b66a5;
  color: #000;
  background-color: LightYellow;
}

a.next_page {
  font-weight: bold;
}


span.disabled_page {
  border: 1px solid #929292;
  color: #929292;
}

span.current_page {
  font-weight: bold;
  border: 1px solid navy;
  background-color: #2e6ab1;
  color: #FFF;
}

div#calculator-settings-warning, .warning {
 color: #f00;
}
#progress{
  display:none;
  background:#154E8C url(/assets/admin/bg/admin_tab_back.png) repeat-x scroll left top;
  color:#fff;
  font-size:170%;
  height:25px;
  left:33%;
  padding:10px 0 15px;
  position:fixed;
  text-align:center;
  width:320px;
  font-weight:bold;
  -moz-border-radius-bottomleft:15px;
  -moz-border-radius-bottomright:15px;
  -webkit-border-bottom-left-radius: 15px;
  -webkit-border-bottom-right-radius: 15px;
}
#progress img{
  vertical-align:middle;
  padding-right:10px;
}

ul#shipping_specs {
  margin: 0;
  padding-bottom:10px;
}
ul#shipping_specs li {
  list-style-image:none;
  display:inline;
}

div.product-preview-products {
  max-height: 200px;
  overflow: auto;
}

#preference-settings input, #preference-settings select, #preference-settings textarea{
  float:left;

}

#preference-settings input[type=text], #preference-settings input[type=password] {
  width: 250px;
}

#preference-settings input.input_integer[type=text] {
  width: 100px;
}

#preference-settings label{
  clear:both;
  display:block;
  float:left;
  width:170px;
}
.index .price{
  width: 50px;
  text-align:center;
}
.index .qty{
  width: 50px;
  text-align:center;
}
.index .total{
  width: 50px;
  text-align:right;
}
.index .orders-actions{
  width:40px;
  padding-left:10px;
}

.product-prototype-options,
.product-prototype-options ul {
  list-style-type: none;
  margin-left: 0;
}
.product-prototype-options > li {
  display: block;
  float: left;
  width: auto;
}
.product-prototype-options > li b {
  display: block;
  padding-right: 30px;
  margin-right: 20px;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
}
.product-prototype-options > li ul {
  padding: 5px 0;
}
.product-prototype-options > li label {
  padding-left: 5px;
}

span.handle{
  background-image: url(/assets/admin/icons/switch.png);
  display: inline-block;
  cursor: move;
  width:14px;
  height:15px;
}

.ac_results, .ui-autocomplete {
  max-height: 230px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 20px;
  border: 1px solid #000;
}

.ac_results li div { max-width: 90%; }

.ac_results li h4 { width: 100%; }

.ac_results li:last-child { border: none; }

.ui-autocomplete a.ui-state-hover { color: #444; text-decoration: none; font-weight:normal; padding: 0 0 0 0; margin: 0 0 0 0; border:none; }

.alert {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size: 1.3em;
  margin-bottom: 1em;
  padding: 0.8em;
}
.alert a.dismiss {
  float:right;
  font-size: 0.8em;
}
.alert.release {
  background-color: #ccddff;
  color: #556699;
  border: 1px solid #99aacc;
}
.alert.security {
  background-color: #f4b4b4;
  color: #000000;
  border: 1px solid #e75b5b;
}
.alert.news {
  background-color: #ccffd4;
  color: #000000;
  border: 1px solid #66ff7e;
}

/* Spree analytics preview buttons */
.analytics_splash{
  text-align: center;
}
.preview-buttons {
  position: absolute;
  left: 860px;
  top: 820px;
}
.preview-buttons a.button {
  display: inline-block;
  float: none;
  font-size: 14px;
}

/* Spree admin banners*/
.banner {
  overflow: auto;
}
.banner p {
  text-transform: uppercase;
  font-weight: bold;
}
.banner .button {
  float: none !important;
  display: inline-block;
}

.banner.payment_banner {
  width: 739px;
  height: 135px;
  background: transparent url(/assets/admin/payment_banner.png) no-repeat left top;
  position: absolute;
  left: -17px;
}
.banner.payment_banner .message {
  padding-left: 40px;
  padding-top: 35px;
  font-size: 16px;
  width: 500px;
  color: #5A81B3;
  line-height: 25px;
}
.banner.payment_banner .message a {
  color: #82a653 !important;
}

.banner.payment_banner .dismiss {
  color: #B25B59 !important;
  font-weight: bold;
  float: right;
  margin-right: 25px;
}

/* Image Settings Styles */
#s3_settings {
  display: none;
}
#styles_list {
  list-style: none;
}
#headers_list {
  list-style: none;
}
#s3_settings label, #attachment_styles label {
  padding-left: 3px;
  padding-right: 5px;
}

/* Select2 select box styles */
select.select2 {
  width: 30em;
}
/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.











*/

.promotion_rule, .promotion_action {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  padding: 8px 40px 8px 10px;
  background-color: #eee;
  border-bottom: 1px solid #bbb;
  margin-bottom: 4px;
  position: relative;
}
.promotion_rule .delete, .promotion_action .delete {
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
}
.products_rule_products_source_field label {
  display: inline;
}
.edit_promotion #general_fields, .edit_promotion #expiry_fields {
  float: left;
  width: 46%;
}
.edit_promotion #general_fields {
  margin-right: 10px;
}
.edit_promotion #expiry_fields {}
.edit_promotion #starts_at_field, .edit_promotion #expires_at_field {
  width: 200px;
  float: left;
  clear: none;
}
.edit_promotion #starts_at_field label, .edit_promotion #expires_at_field label{
  display: block;
}
#rule_fields, #action_fields {
  position: relative;
}
#new_product_rule_form, #new_promotion_action_form {
  position: absolute;
  text-align:right;
  width: 300px;
  right: 30px;
  bottom: 20px;
}
@font-face {
    font-family: 'DroidSansRegular';
    src: url('webfonts/DroidSans-webfont.eot');
    src: url('webfonts/DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/DroidSans-webfont.woff') format('woff'),
         url('webfonts/DroidSans-webfont.ttf') format('truetype'),
         url('webfonts/DroidSans-webfont.svg#DroidSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DroidSansBold';
    src: url('webfonts/DroidSans-Bold-webfont.eot');
    src: url('webfonts/DroidSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('webfonts/DroidSans-Bold-webfont.woff') format('woff'),
         url('webfonts/DroidSans-Bold-webfont.ttf') format('truetype'),
         url('webfonts/DroidSans-Bold-webfont.svg#DroidSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body.admin {
    font: 14px 'DroidSansRegular', Verdana, Helvetica, sans-serif!important;
    background: url("paper.jpg") repeat fixed #E3E3E3;
    font-weight: normal!important;
}

body.admin h1, body.admin h2, body.admin h3, body.admin h4, body.admin h5, body.admin h6 {font-family:'DroidSansRegular', Georgia, serif!important; font-weight: normal;}

#admin-menu {border:0!important;}

body {color: #333!important;}
body.admin a {color: #e87719!important;}
body.admin #admin-menu {
    background: #3a3a3a!important;
    border-radius: 5px!important;
}

body.admin #admin-menu ul {
    margin-top: 15px;
    padding: 12px 10px 17px 10px;
}

body.admin #admin-menu ul li a{
  text-transform: uppercase;
  color: #fff!important;
}

body.admin #admin-menu ul li a:hover{
  color: #ccc!important;
}

body.admin #admin-menu ul li.selected a:hover{
  color: #fff!important;
}

body.admin #admin-menu ul li.selected a, #sub-menu ul li.selected a {font-weight: bold; background: transparent!important;}
body.admin #admin-menu ul li.selected {border: 1px solid transparent!important; background: transparent!important;}
body.admin #sub-menu {background: transparent; border:0;}

img {max-width: 100%}

#admin-menu ul li:first-child {border: 0!important;}

#footer {
    width: 98%;
    background: #3a3a3a;
    border-radius: 5px 5px 0 0;
    overflow: auto;
    margin-left: 1%;
}

#footer p{
  margin: 0!important;
  padding: 10px 20px;
  color: #fff;
}

/*


*/

/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *






*/

